/* Generelle mixins, variabler, typografi og stiler som bruker av andre stilregler */

/* Mixins */
.kolonne {
	float: left;
	display: block;
	min-height: 30px;
	width: 47.93617021276595%;
}

/* Typografi */
H1, H2, H3 {
	font-family: Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.2em;
}

H1 {
	font-size: 2.5rem;
}

H2, ._H2 {
	font-size: 2.0rem;
}

H3, ._H3 {
	font-size: 1.43rem;
	font-weight: 600;
	text-transform: uppercase;
}

/* FORMS */
LABEL {
    text-transform: uppercase;
    position: relative;
    margin-top: 1em;
    color: #a69d92;
    font-size: 0.857rem;
}

INPUT.errorJS {
    background-color: #f7cece;
    border: 1px solid #ff6666;
}

LABEL.errorJS {
    position: absolute;
    left: 0;
    bottom: -1.62em;
    white-space: nowrap;
    color: #ff6666;
    text-transform: none;
}

.description {
    color: #a69d92;
    font-size: 0.714rem;
    white-space:nowrap;
    text-transform: none;
}

INPUT {
    width: auto;
}

INPUT[type=text], INPUT.hasDatepicker, SELECT {
    height: 30px;
    margin-top: 3px;
    width: 100%;
}

INPUT.hasDatepicker {
	padding-left: 0.7rem;
}

.dateGroup INPUT[type=text] {
    background: white url(../img/kalender.svg) no-repeat right center;
    background-size: 21px;
}
