//
// Dropdown menus
// --------------------------------------------------

@caret-width-base: 6px;
@font-size-base: 14px;
@dropdown-bg: @white;
@dropdown-border: rgba(0,0,0,.15);
@dropdown-divider-bg: #e5e5e5;
@dropdown-link-color: @gray-inactive;
@dropdown-link-hover-color: darken(@gray-inactive, 5%);
@dropdown-link-hover-bg: @gray-background;
@cursor-disabled: not-allowed;

.caret {
	display: inline-block;
	margin: 0 -10px 0 20px;
	vertical-align: 2px;
	border-top: @caret-width-base solid @white;
	border-right: @caret-width-base solid transparent;
	border-left: @caret-width-base solid transparent;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: @zindex-dropdown;
	float: left;
	min-width: 200px;
	padding: 5px 0;
	margin:  2px 0 0;
	list-style: none;
	text-align: left;
	background-color: @dropdown-bg;
	border: 1px solid @dropdown-border;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	.divider {
		.nav-divider(@dropdown-divider-bg);
	}
	> li > a {
		display: block;
		padding: 5px 20px;
		clear: both;
		font-weight: normal;
		line-height: @line-height-base;
		color: @dropdown-link-color;
		white-space: nowrap;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: none;
			color: @white;
			background-color: @blue-link;
		}
		&.selected {
			color: @white;
			background-color: @blue-link;
		}
	}
}

.dropdown-menu > .active > a {
	&:hover, &:focus {
		color: @white;
		text-decoration: none;
		outline: 0;
		background-color: @blue-link;
	}
}

.dropdown-menu > .disabled > a {
	&:hover, &:focus {
		color: @gray-icon;
	}
	&:hover, &:focus {
		text-decoration: none;
		background-color: transparent;
		background-image: none;
		cursor: @cursor-disabled;
	}
}

