.hode { 

	// Gir elementet et rundt ikon over. Ikonet er i utgangspunktet svart.

	// Merk: 
	
	// * Klassen må kombineres med andre klasser for å få ikon og farge
	// * Klassen kan brukes på alle slags HTML-elementer, h1-h6, p, mv. 

	margin-top: 0; 
	position: relative; 
	padding-top: 3.6rem;

	&:before {
		content: "";
		width: 2rem;
		height: 2rem; 
		display: block; 
		background-position: center center;
		background-repeat: no-repeat;
		left: 50%;
		position: absolute; 
		top: 0; 
		background-color: @color-text;
		border-radius: 50%;
		.mixin-transform(translateX(-50%));
	}
}

.tittel-dekorert, .hode-dekorert {

	// Gir hodet/tittelen en midtstilt strek under. Streken er i utgangspunktet svart.

	padding-bottom: 2rem; 
	position: relative;
	text-align: center; 	

	&:after {
		content: "";
		width: 2rem; 
		height: 1px; 
		left: 50%; 
		bottom: 0; 
		position: absolute;
		background-color: @color-text; 
		.mixin-transform(translateX(-50%));
	}	

}


// -----------------------------------------
// Ulike størrelser
// -----------------------------------------

.hode-innholdstittel {
	.mixin-typo-innholdstittel(); 
	margin-bottom: 3rem; 
}

.hode-undertittel {
	.mixin-typo-undertittel(); 
	margin-bottom: 20px; 
	padding-top: 52px; // 2rem + 20px
	padding-bottom: 20px; 
}

.hode-feil {
	&:before, &:after {
		background-color: @color-error; 
	}

	&:before {
		&:extend(.ikon-utropstegn); 
	}
}

// -----------------------------------------
// Ulike farger og ikoner
// -----------------------------------------

.hode-advarsel {
	&:before, &:after {
		background-color: @color-warning; 
	}

	&:before:extend(.ikon-utropstegn) {};
}

.hode-suksess {
	&:before, &:after {
		background-color: @color-success; 
	}

	&:before {
		&:extend(.ikon-suksess); 
	}
}

.hode-vedlegg {
  &:before {
    background-color: transparent;
    &:extend(.ikon-vedlegg);
  }
}

.hode-soknad {
  &:before {
    background-color: transparent;
    &:extend(.ikon-soknad);
  }
}

.hode-epost {
  &:before {
    background-color: transparent;
    &:extend(.ikon-epost);
  }
}
