a.knapp {
  display:inline-block;
}

.knapp {
	font-family: Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: @rem-as-16px;
	font-weight: 600;
	.buttonBackground(@gray-lighter, @gray-light, @text-color);
	padding: 8px 40px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	//box-shadow: 2px 2px 2px #d5d5d5;
	&.liten {
		padding: 5px 20px;
		font-size: @rem-as-14px;
		line-height: 1.4rem;
	}
	&.mini {
		padding: 3px 10px;
		font-size: @rem-as-12px;
	}
	&.hoved {
		.buttonBackground(@btn-primary-background, @btn-primary-background-highlight);
	}
	&.lenke {
		background: none;
		color: @blue-dark;
		border: none;
		font-weight: bold;
		text-transform: none;
		&:hover, &:focus {
			border-color: transparent;
			background: none;
			text-decoration: underline;
			color: @blue-dark;
		}
	}
	&.uthevet {
		.buttonBackground(@btn-inverse-background, darken(@btn-inverse-background, 10%));
	}
	&.advarsel {
		.buttonBackground(@btn-danger-background, @btn-danger-background-highlight);
	}
	&.deaktivert, &[disabled=disabled] {
		color: #a3a3a3;
		background: @btn-background;
		border: 1px solid #d9d9d9;
		cursor: default;
	}
	&.dropdown-toggle {
		display: inline-block;
		cursor: pointer;
		padding-left: 10px;
		text-transform: uppercase;
	}
}

