.knapp {
	font-family: @font-family-modus;
	font-weight: 600;
	position: relative;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	border: none;
	color: @gray-text;
	border-radius: 2px;
	letter-spacing: 1px;
	padding: 11px 40px 7px;
	background: #e0ded8;
	border-bottom: 2px solid #adacaa;
	line-height: 1.2;
	top: 0;
	margin-top: 0;
	&:hover {
		border-bottom: 3px solid #adacaa;
		margin-bottom: -1px;
		top: -1px;
	}
	&:active {
		background: #adacaa;
		border-bottom: 0;
		top: 3px;
	}
	&:disabled, &.inaktiv {
		background: #b6b0a8;
		border-bottom-color: @gray-inactive;
		&:hover {
			border-bottom: 2px solid #adacaa;
			top: 0;
			cursor: default;
		}
	}
	&.hoved {
		color: @white;
		background: #0067c5;
		border-bottom: 2px solid @gray-text;
		&:hover {
			border-bottom: 3px solid @gray-text;
		}
		&:active {
			background: #005b82;
			border-bottom: none;
		}
		&:disabled, &.inaktiv {
			background: #005b82;
			&:hover {
				border-bottom-width: 2px;
				top: 0;
			}
		}
	}
	&.fare {
		color: @white;
		background: #e30000;
		border-bottom: 2px solid @gray-text;
		&:hover {
			border-bottom: 3px solid @gray-text;
		}
		&:active {
			background: #860d0d;
			border-bottom: none;
		}
		&:disabled, &.inaktiv {
			background: #860d0d;
			&:hover {
				border-bottom: 2px solid @gray-text;
				top: 0;
			}
		}
	}
	&.liten {
		font-size: @rem-as-14px;
		padding: 9px 20px 6px;
	}
	&.stor {
		font-size: @rem-as-17px;
		padding: 13px 50px 9px;
		&:active {
			margin-bottom: 2px;
		}
	}
	& + .knapp {
		margin-left: 8px;
	}
}

.knapp {
	&.ikon {
		background-image: url(../img/knappe-ikon.svg);
		background-repeat: no-repeat;
		background-position: 18px 15px;
		padding-left: 55px;
	}
}
