.modal-bakteppe {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: @zindex-modal-background;
}

.modal-alert {
	position: relative;
    z-index: @zindex-modal;
    border: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 0; 
    width: 100%;
    max-width: 37.5rem; 
} 

.modal-lukk {
	text-indent: -9999px; 
	.mixin-lukk-knapp-lys(); 		
}

@media(min-height: @screen-small) {
	.modal-alert {
		margin-top: 2rem; 
	}
} 

@media(min-height: @screen-medium) {
	.modal-alert {
		margin-top: 4rem; 
	}
} 

@media(min-height: @screen-large) {
	.modal-alert {
		margin-top: 6rem; 
	}
} 

@media(min-height: @screen-xl) {
	.modal-alert {
		margin-top: 8rem; 
	}
} 