.panel {
	background: @white;
	padding: 1rem 1rem 1.25rem 1rem;
	margin-bottom: 1rem;
	margin-bottom: 1rem;
	display: block; 
}

.panel-ekstra  {
	// Populært kalt "skjemapanel"
	position: relative;
	border: 1px solid @color-border;
	margin-top: 1rem;
	background-color: @color-background;
	margin-left: -1rem;
	margin-right: -1rem;
	border-left-width: 0; 
	border-right-width: 0; 	
	@arrow-size: .75rem;

	&:after, &:before {
		content: "";
		position: absolute;
		border-style: solid;
		border-color: transparent;
		border-top: 0;
		top: -@arrow-size;
		left: 50%;
		border-width: @arrow-size;		
	}

	&:after {
		border-bottom-color: @color-background;
		transform: translate(-50%, 1px);
	}

	&:before {
		border-bottom-color: @color-border;
		transform: translateX(-50%);
	}	
}

a.panel {
	display: block;
	color: @gray-text;
	border: 0; 

	&:hover {
		border: 0; 
	}

	&:focus {
		outline: 3px @color-focus solid;
		background-color: @white;
	}
}

.panel-ramme, a.panel-ramme {
	border: 1px solid @color-border;
}

a.panel-ramme:hover {
	border: 1px solid @color-link;
}

.panel-feilsammendrag {
	color: @white; 
	background-color: @color-error;
	margin-left: -.5rem;
	margin-right: -.5rem;
	margin-bottom: 3rem; 

	a {
		color: @white; 
		border-bottom-color: @white; 
	}
}

// -----------------------------------------
// MEDIA QUERIES
// -----------------------------------------

@media(min-width: 30rem) {
	
	.panel {
		padding: 2rem 2rem 2.25rem 2rem; 
	}

	.panel-ekstra {
		border-left-width: 1px; 
		border-right-width: 1px; 	
		margin-left: 0;
		margin-right: 0;	
		padding-top: 20px; 	

		&:before, &:after {
			left: 3rem; 
		}
	}

	
}