// -----------------------------------------
// PANELER
// -----------------------------------------

.panel {

	// Standard-panel

	background: @white;
	padding: 1rem 1rem 1.25rem 1rem;
	margin-bottom: 1rem;
	display: block; 
}

.panel-stablet {
	margin-bottom: 0; 
}

.panel-fremhevet {
	background-color: @color-background;
}

.panel-ekstra, .panel-relatert  {
	
	// Grå boks med pil opp, tidligere kjent som .ekstra-spm-boks; 
	// Populært kalt "skjemapanel"
	// Må kombineres med .panel slik: <div class="panel panel-ekstra"></div>

	position: relative;
	border: 1px solid @color-border;
	margin-top: 1rem;
	margin-left: -1rem;
	margin-right: -1rem;
	border-left-width: 0; 
	border-right-width: 0; 	
	@arrow-size: .75rem;

	&:after, &:before {
		content: "";
		position: absolute;
		border-style: solid;
		border-color: transparent;
		border-top: 0;
		top: -@arrow-size;
		left: 50%;
		border-width: @arrow-size;		
	} 

	&:after {
		transform: translate(-50%, 1px);
	}

	&:before {
		transform: translateX(-50%);
		border-bottom-color: @color-border;
	}	

}

.panel-relatert {
	background-color: @white; 

	&:after {
		border-bottom-color: @white;
	}

}

.panel-ekstra {
	background-color: @color-background;

	&:after {
		border-bottom-color: @color-background;
	}
}

a.panel {

	// Lenkepanel

	display: block;
	color: @gray-text;
	border: 0; 

	&:hover {
		border: 0; 
	}

	&:focus {
		outline: 3px @color-focus solid;
		background-color: @white;
	}
}

.panel-ramme, a.panel-ramme {

	// Rammepanel

	border: 1px solid @color-border;
}

a.panel-ramme:hover {
	border: 1px solid @color-link;
}

// -----------------------------------------
// HØYKONSTRAST
// -----------------------------------------

.contrast {

  .panel-feilsammendrag {

    border: 1px solid @white; 

    a, .klikkbar {
      color: #ffc40d !important;
    }

    a:hover, a:focus .er-klikkbar:hover, .er-klikkbar:focus {
      color: #0ca9e1 !important;
      outline: 0; 
    }

  }

}

// -----------------------------------------
// MEDIA QUERIES
// -----------------------------------------

@media(min-width: @screen-xs) {
	
	.panel {
		padding: 2rem 2rem 2.25rem 2rem; 
	}

	.panel-ekstra, .panel-relatert {
		border-left-width: 1px; 
		border-right-width: 1px; 	
		margin-left: 0;
		margin-right: 0;	
		padding-top: 20px; 	

		&:before, &:after {
			left: 3rem; 
		}
	}
	
}