.form-linje {
	padding: 5px 0.5rem;
	&.feil {
		background-color: #ffedd6;
		input:not([type="submit"]), textarea {
			border: 1px solid #ba3a26;
			background: #fbf5f4;
		}
		span {
			&.melding {
				color: #ba3a26;
			}
		}
	}
}

form, [ng-form], [data-ng-form] {
	margin: 0;
	text-align: left;
	&.horisontal {
		label {
			position: relative;
			input, select, textarea {
				margin-left: 0.5rem;
			}
			span {
				display: inline-block;
				font-size: 0.875rem;
				width: 5.5rem;
				&.melding {
					width: auto;
					margin-left: 0.5rem;
				}
			}
		}
	}

	&.vertikal {
		label {
			input, select, textarea {
				display: block;
			}
		}
	}
}

label {
	display: inline-block;
	padding: 0 2px 2px;
	margin-left: -2px;
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	input.hasDatepicker {
		padding: 7px;
		margin-top: 4px;
		margin-bottom: 4px;
		line-height: 1.1;
		border-radius: 1px;
		border: 1px solid @gray-icon;
		&:focus {
			box-shadow: 0 0 0 3px #ffbd66;
			outline: none;
		}
		&:hover {
			border: 1px solid @blue-link;
		}
		&:disabled, .inaktiv {
			&:hover {
				border: 1px solid @gray-icon;
			}
		}
	}
}

input[type=checkbox], input[type=radio] {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
	& + label {
		display: inline-block;
		position: relative;
		padding: 4px 4px 4px 34px;
		margin: 2px 1rem 2px -2px;
		color: @gray-text;
		vertical-align: text-top;
	}
}

input[type=checkbox] {
	& + label {
		padding: 0;
		span {
			display: inline-block;
			&:last-child {
				vertical-align: 7px;
				margin-left: 6px;
			}
		}
		.outline {
			width: 26px;
			height: 26px;
			border-radius: 2px;
			border: 1px solid #978e85;
		}
		&:hover {
			cursor: pointer;
			.outline {
				border: 1px solid @blue-link;
			}
		}
	}
	&:focus + label {
		.outline {
			box-shadow: 0 0 0 3px #ffbd66;
		}
	}
	&:checked + label {
		.outline {
			background-color: @blue-link;
			background-image: url(../gfx/hake_hvit.svg);
			background-size: 30px 30px;
			background-position: center;
		}
	}
}

input[type=radio] {
	& + label {
		padding: 0;
		span {
			display: inline-block;
			&:last-child {
				vertical-align: 7px;
				margin-left: 6px;
			}
		}
		.outline {
			width: 26px;
			height: 26px;
			border-radius: 13px;
			border: 1px solid #978e85;
		}
		&:hover {
			cursor: pointer;
			.outline {
				border: 1px solid @blue-link;
			}
		}
	}
	&:focus + label {
		.outline {
			box-shadow: 0 0 0 3px #ffbd66;
		}
	}
	&:checked + label {
		.outline {
			border: 3px solid @blue-link;
			background-color: @white;
			background-image: url(../gfx/prikk_blaa.svg);
			background-size: 30px 30px;
			background-position: center;
		}
	}
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input.hasDatepicker {
	padding: 6px;
	line-height: 1.1;
	border-radius: 1px;
}

.selectwrap {
	position: relative;
	select {
		padding: 4px 25px 4px 8px;
		border: 1px solid @gray-icon;
		border-radius: 2px;
		background-color: transparent;
		-webkit-appearance: none;
		&:focus {
			box-shadow: 0 0 0 3px #ffbd66;
			outline: none;
		}
	}
	&:after {
		content: " ";
		border-top: 6px solid @gray-text;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		position: absolute;
		right: 7px;
		top: 40%;
	}
}

select:focus,
input[type="file"]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
	.tab-focus();
}
