/*.submenu-logg-inn {*/
.submenu-logg-inn .knapp {
    color: #fff;
    background: #0067c5;
    border-bottom-color: #3e3832;
    font-family: "Modus", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    letter-spacing: 1px;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1;
    padding: 10px 40px;
    border: none;
    border-bottom: 2px solid #3e3832;
}
.submenu-logg-inn .knapp:focus {
     box-shadow: 0 0 0 2px #ffbd66;
 }
.submenu-logg-inn .knapp:hover {
     border-bottom: 3px solid #7f756c;
     margin-bottom: -1px;
     -webkit-transform: translateY(-1px);
     -moz-transform: translateY(-1px);
     -ms-transform: translateY(-1px);
     -o-transform: translateY(-1px);
     transform: translateY(-1px);
 }
.submenu-logg-inn {
    text-align: center;
    margin-top: 10rem;
}
.submenu-logg-inn.decorated {
    margin-bottom: 1rem;
}

.siteheader .submenu-logg-inn .typo-normal {
    margin: 0 0 14px;
}

.siteheader.menu-link-list a:focus {
     box-shadow: 0 0 0 3px #ffbd66;
     outline: none;
     background: transparent;
}


.siteheader .link-btn:focus {
     box-shadow: 0 0 0 2px #ffbd66;
}

.siteheader a.locked {
    background: url('../../../img/navno/globalmenuDittNav/ikon_las_svart.png') no-repeat 1% 50%;
    background-size: 0.9rem;
}
.siteheader a.locked:hover::before {
     border: none;
}
.siteheader a.locked:focus {
    background: transparent url('../../../img/navno/globalmenuDittNav/ikon_las_svart.png') no-repeat 1% 50%;
}
.siteheader a.locked:focus::before {
     border: none;
}

.siteheader .secLevelUpgradeInfo {
    margin-top: 2rem;
    text-align: center;
}

.siteheader .secLevelUpgradeInfo span {
    background: transparent url('../../../img/navno/globalmenuDittNav/ikon_las_svart.png') no-repeat;
    padding-left: 1.7rem;
    background-size: 1.1rem;
    background-position: 0% 48%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-right: 0.5rem;
}

.siteheader .secLevelUpgradeInfo .logginninfo {
    display: inline-block;
    background: transparent url('../../../img/navno/globalmenuDittNav/sporsmaalstegn.png') no-repeat;
    width: 24px;
    height: 24px;
    background-size: 1.3rem;
    vertical-align: middle;
}

.siteheader .secLevelUpgradeInfo .logginninfo:hover {
     background: transparent url('../../../img/navno/globalmenuDittNav/sporsmaalstegn_hover.png') no-repeat;
     background-size: 1.3rem;
}
.siteheader .secLevelUpgradeInfo .panel-negativ {
    background-color: #3e3832;
    color: #fff;
    position: absolute;
    z-index: 9;
    left: 71.5%;
    width: 350px;
    top: 45%;
    padding: 10px;
}

.siteheader .secLevelUpgradeInfo .panel-negativ .decorated {
    font-size: 1rem;
    margin-bottom: 0px;
}
.siteheader .secLevelUpgradeInfo .panel-negativ:before {
     content: "";
     border: solid transparent;
     border-width: 10px;
     position: absolute;
     height: 0;
     width: 0;
     left: 20px;
     border-top-color: #3e3832;
     top: 100%
 }

.siteheader .secLevelUpgradeInfo .panel-negativ .lukk {
    margin-bottom: 2rem;
}
.siteheader .secLevelUpgradeInfo .panel-negativ .lukk  button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    border: 0;
    background: transparent url('../../../img/navno/globalmenuDittNav/kryss_blaa.png') no-repeat;
}
.siteheader .secLevelUpgradeInfo .panel-negativ .lukk  button:hover {
     background:transparent url('../../../img/navno/globalmenuDittNav/kryss_blaa_hover.png') no-repeat;
}

.siteheader .secLevelUpgradeInfo .panel-negativ .hjelpetekst-tittel {
    padding-bottom: 2rem;
    position: relative;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0;
    color: #cccccc;
}
.siteheader .secLevelUpgradeInfo .panel-negativ .hjelpetekst-tekst {
    color: #cccccc;
    font-size: 0.875rem;
}

.sitefooter a:focus {
    outline: none;
    background-color: #ffbd66;
}

.siteheader a:focus {
    outline: none;
    background-color: #ffbd66;
}

.siteheader .typo-normal {
    font-size: 0.875rem;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.tilbaketilgruppe {
    padding: 0px;
    position: relative;
    font-size: 14px;
}
.tilbaketilgruppe .tilbaketittel {
    color: #000;
    position: absolute;
    bottom: 23px;
    margin-left: 8px;
}

.tilbaketilgruppe .home-link {
    text-decoration: none;
    display: inline-block;
    color: #0067c5;
    padding: 0px;
}
.tilbaketilgruppe .tilbaketilforsidelink {
    position: absolute;
    margin-left: 8px;
}

.tilbaketilgruppe .tilbaketilforsidelink {
    position: absolute;
    margin-left: 8px;
}

.tilbaketilgruppe .tilbaketilforsidelink.dittnav:hover::before {
     background: transparent url('../../../img/navno/globalmenuDittNav/person_blaa.png') no-repeat;
}
.tilbaketilgruppe .tilbaketilforsidelink.dittnav:active::before {
    background: transparent url('../../../img/navno/globalmenuDittNav/person_svart.png') no-repeat;
}
.tilbaketilgruppe .tilbaketilforsidelink.dittnav:active {
    outline: none;
}

.tilbaketilgruppe .tilbaketilforsidelink.dittnav:active:focus {
    outline: none;
    background-color: transparent;
}
.tilbaketilgruppe .tilbaketilforsidelink.dittnav:active:focus.tilbaketilforsidelink{
    background-color: #ffbd66;
    box-shadow: 0 0 0 3px #ffbd66;
}


@media (max-width: 768px) {

    .siteheader a:focus {
        outline: -webkit-focus-ring-color auto 5px;
        background: transparent;
    }

    .siteheader a.lenke-fremhevet {
        color: #0ca9e1;
    }

    .siteheader a.locked {
        background: url('../../../img/navno/globalmenuDittNav/ikon_las_hvit.png') no-repeat 1% 50%;
    }

    .siteheader a.locked:hover {
        background: url('../../../img/navno/globalmenuDittNav/ikon_las_hvit.png') no-repeat 1% 50%;
        color: #0ca9e1;
    }

    .siteheader a.locked:active {
        background: url('../../../img/navno/globalmenuDittNav/ikon_las_hvit.png') no-repeat 1% 50%;
        color: #0ca9e1;
    }

    .siteheader a.locked:focus {
        background: url('../../../img/navno/globalmenuDittNav/ikon_las_hvit.png') no-repeat 1% 50%;
        color: #0ca9e1;
    }

    .siteheader .secLevelUpgradeInfo {
        display: none;
    }

    .siteheader .submenu-logg-inn {
        margin-top: 1rem;
    }

    .siteheader .accessible-megamenu-panel .home-link {
        padding: 0;
    }
    .siteheader .accessible-megamenu-panel .home-link:before {
        background: transparent url('../../../img/navno/globalmenuDittNav/hjem_hvit.png') no-repeat 42% 30% !important;
        background-size: 62% !important;
    }
    .siteheader .accessible-megamenu-panel .home-link:hover::before {
        background: transparent url('../../../img/navno/globalmenuDittNav/hjem_blaa.png') no-repeat 42% 30% !important;
        background-size: 62% !important;
    }

    .siteheader .accessible-megamenu-panel .home-link:active::before {
        background: transparent url('../../../img/navno/globalmenuDittNav/hjem_blaa.png') no-repeat 42% 30% !important;
        background-size: 62% !important;
    }

    .siteheader .accessible-megamenu-panel .home-link:focus::before {
        background: transparent url('../../../img/navno/globalmenuDittNav/hjem_blaa.png') no-repeat 42% 30% !important;
        background-size: 62% !important;
    }


    .siteheader .accessible-megamenu-panel .home-link .dittnav:before {
        background: transparent url('../../../img/navno/globalmenuDittNav/person_hvit.png') no-repeat 42% 30% !important;
        background-size: 62% !important;
    }

    .siteheader .accessible-megamenu-panel .home-link .dittnav:hover::before {
        background: transparent url('../../../img/navno/globalmenuDittNav/person_blaa.png') no-repeat 42% 30% !important;
        background-size: 62% !important;
    }

    .siteheader .accessible-megamenu-panel .home-link .dittnav:active::before {
        background: transparent url('../../../img/navno/globalmenuDittNav/person_blaa.png') no-repeat 42% 30% !important;
        background-size: 62%;
    }

    .siteheader .accessible-megamenu-panel .home-link .dittnav:focus::before {
        background: transparent url('../../../img/navno/globalmenuDittNav/person_blaa.png') no-repeat 42% 30%;
        background-size: 62% !important;
    }

    .menu-link-list a:focus {
        box-shadow: none;
    }
    .subnavitems .accessible-megamenu-panel-group .globalmenu-tittel {
        min-height: 37px !important;
    }
    .tilbaketilgruppe .tilbaketittel {
        color: #ffffff !important;
    }
}


.siteheader a.lenke-fremhevet {
    border-bottom: 1px solid #b7b1a9;
    text-decoration: none;
}
.siteheader a.lenke-fremhevet:hover {
     border-bottom-color: #0067c5;
     text-decoration: none;
}
.siteheader a.lenke-fremhevet:active {
     border-bottom-color: #634689;
     text-decoration: none;
}
.siteheader a.lenke-fremhevet:focus {
     text-decoration: none;
}

.siteheader.typo-etikett-stor {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Modus","Helvetica Neue","Helvetica","Arial","sans-serif";
    text-transform: uppercase;
}

button.mobile-toggler {
    width: 32% !important;
}

.accessible-megamenu .accessible-megamenu-panel-group:first-child:nth-last-child(3),.accessible-megamenu .accessible-megamenu-panel-group:first-child:nth-last-child(3)~li{width:33.3%}
.accessible-megamenu .accessible-megamenu-panel-group:first-child:nth-last-child(4),.accessible-megamenu .accessible-megamenu-panel-group:first-child:nth-last-child(4)~li{width:25%}

.topnavsection .menu-link-list:before {
     border-bottom: 2px solid #808080;
     clear: both;
     content: " ";
     display: block;
     margin: 0 auto;
     width: 100%;
}

.subnavitems .accessible-megamenu-panel-group .globalmenu-tittel {
    min-height: 0px;
    text-align: left;
}


.siteheader .accessible-megamenu-panel .home-link {
    background: transparent !important;
}

.siteheader .accessible-megamenu-panel .home-link:before {
    display: inline-block;
    content: "";
    width: 46px;
    height: 60px;
    background: transparent url('../../../img/navno/globalmenuDittNav/hjem_sort.png') no-repeat;
    background-position: 66% 20%;
    background-size: 55%;
}

.siteheader .accessible-megamenu-panel .home-link.dittnav:before {
    display: inline-block;
    content: "";
    width: 46px;
    height: 60px;
    background: transparent url('../../../img/navno/globalmenuDittNav/person_graa.png') no-repeat;
    background-position: 0% 0%;
    background-size: 90%
}

.siteheader .menu-link-list a {
    margin-left: -1.5rem;
    padding: 10px 10px 10px 1.5rem;
}
.siteheader .menu-link-list a:focus {
    box-shadow: 0 0 0 3px #ffbd66;
    outline: none;
    background-color: transparent;
}


.contrast a.locked {
    background: transparent url('../../../img/navno/globalmenuDittNav/ikon_las_gra.png') no-repeat 1% 50% !important;
}
.contrast .secLevelUpgradeInfo span {
    background: transparent url('../../../img/navno/globalmenuDittNav/ikon_las_gra.png') no-repeat 1% 50% !important;
}

.contrast .home-link:before {
     display: inline-block;
     content: "";
     width: 46px;
     height: 60px;
     background: transparent url('@{baseImagePath}img/navno/gfx/mainmenu/hjem_gul.png') no-repeat;
     background-position: 66% 20%;
     background-size: 55%;
}

.contrast .home-link:hover:before {
     display: inline-block;
     content: "";
     width: 46px;
     height: 60px;
     background: transparent url('@{baseImagePath}img/navno/gfx/mainmenu/hjem_blaa.png') no-repeat;
     background-position: 66% 20%;
     background-size: 55%;
}
.contrast .home-link:active {
    outline: none;
    background-color: transparent;
}

.contrast .home-link:active{
   outline: none;
   background-color: transparent;
}
.contrast .siteheader .accessible-megamenu-panel .home-link.dittnav:before{
    background: transparent url('@{baseImagePath}img/navno/globalmenuDittNav/person_gul.png') no-repeat;
    background-position: 0% 0%;
    background-size: 90%;
}

.contrast .siteheader .accessible-megamenu-panel .home-link:hover:before {
    background: transparent url('@{baseImagePath}img/navno/globalmenuDittNav/person_blaa.png') no-repeat;
    background-position: 0% 0%;
    background-size: 90%;
}

.contrast .knapp-hoved {
    border: 1px solid #fff;
    color: #ffc40d !important;
    background-image: none;
}

.toggle-varsler-container {
    display: none;
}
