.mixin-knapp() {
	font-family: @font-family-profile;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	letter-spacing: 1px;
	border-radius: 2px;
	font-size: @rem-as-16px; 
	line-height: 1; 
	padding: 10px 40px;
}

.mixin-knappevariant(@bakgrunnsfarge, @tekstfarge, @skyggefarge, @bakgrunnsfarge-inaktiv, @bakgrunnsfarge-aktiv) {
	color: @tekstfarge;
	background: @bakgrunnsfarge;
	border-bottom-color: @skyggefarge;

	&:focus {
		background-color: @bakgrunnsfarge;
	}	

	&:hover {
		color: @tekstfarge;
		border-bottom-color: @skyggefarge;
	}

	&:active {
		color: @tekstfarge;
		background: @bakgrunnsfarge-aktiv;
	}	

	&:disabled, &.er-inaktiv {
		background: @bakgrunnsfarge-inaktiv;
		border-bottom-color: @bakgrunnsfarge-inaktiv;
		&:hover, &:active {
			border-bottom-color: @bakgrunnsfarge-inaktiv;
		}
	}
}