.ikon-utropstegn,
.hode-feil:before,
.hode-advarsel:before {
  background-image: url('../META-INF/resources/img/ikoner-svg/ikon-utropstegn.svg');
}
.ikon-suksess,
.hode-suksess:before {
  background-image: url('../META-INF/resources/img/ikoner-svg/ikon-suksess.svg');
}
.ikon-radioknapp,
.nav-radioknapp:checked + label:before {
  background-image: url('../META-INF/resources/img/ikoner-svg/ikon-radioknapp.svg');
}
.ikon-checkbox,
.nav-checkbox:checked + label:before {
  background-image: url('../META-INF/resources/img/ikoner-svg/ikon-checkbox.svg');
}
.caret {
  display: inline-block;
  margin: 0 -10px 0 20px;
  vertical-align: 2px;
  border-top: 6px solid #ffffff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu .divider {
  height: 1px;
  margin: -0.5rem 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #7f756c;
  white-space: nowrap;
  text-decoration: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #0067c5;
}
.dropdown-menu > li > a.selected {
  color: #ffffff;
  background-color: #0067c5;
}
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #0067c5;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #b7b1a9;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed;
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #b7b1a9;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #b7b1a9;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #b7b1a9;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 1px solid #b7b1a9;
}
.table .table {
  background-color: #efefef;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #efefef;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #efefef;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
  color: #fcf8e3;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #efefef;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
}
.tooltip.in {
  opacity: 100;
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 1px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.ui-datepicker {
  width: 14em;
  padding: .2em .2em 0;
  display: none;
  background: #7f756c;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  text-indent: -10000px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 8px;
  border-right: 7px solid #ffffff;
}
.ui-datepicker .ui-datepicker-next {
  right: 8px;
  border-left: 7px solid #ffffff;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month,
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  font-size: 0.9em;
  width: 43%;
  height: 1.5em;
  border: 1px solid #b7b1a9;
  background: #7f756c;
  padding: 0;
  color: #b7b1a9;
  margin: 0 2px;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
  table-layout: fixed;
}
.ui-datepicker table th span {
  padding: .7em .3em .4em;
  text-align: center;
  font-weight: 700;
  border: 0;
  color: #b7b1a9;
}
.ui-datepicker table tbody {
  border: 1px solid #000000;
}
.ui-datepicker table tbody td {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 1px;
}
.ui-datepicker table tbody td span,
.ui-datepicker table tbody td a {
  display: block;
  padding: .2em;
  text-align: center;
  text-decoration: none;
}
.ui-datepicker table tbody td span.ui-state-active,
.ui-datepicker table tbody td a.ui-state-active {
  background: #ffffff;
  color: #000000;
}
.ui-datepicker table tbody td span.ui-state-hover,
.ui-datepicker table tbody td a.ui-state-hover {
  background: #65caeb;
  color: #000000;
}
.ui-datepicker table tbody td:last-child {
  border-right: none;
}
.ui-datepicker table tbody td:last-child span,
.ui-datepicker table tbody td:last-child a {
  color: #ff9100;
}
.ui-datepicker table tbody td:last-child span.ui-state-hover,
.ui-datepicker table tbody td:last-child a.ui-state-hover {
  background: #ff9100;
  color: #000000;
}
.ui-datepicker table tbody td.ui-datepicker-unselectable {
  color: #b7b1a9;
}
.ui-datepicker table tbody td.ui-datepicker-unselectable * {
  color: #b7b1a9;
}
.ui-datepicker table tbody td.ui-datepicker-unselectable span:hover {
  background: transparent;
  color: #b7b1a9;
}
.ui-datepicker table tbody td.ui-datepicker-unselectable:last-child {
  color: #a66380;
}
.ui-datepicker table tbody td.ui-datepicker-unselectable:last-child * {
  color: #a66380;
}
.ui-datepicker table tbody td.ui-datepicker-unselectable:last-child span:hover {
  background: transparent;
  color: #a66380;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker .ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker .ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker .ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker .ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
.ui-datepicker .ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-buttonpane button .ui-datepicker-current,
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-buttonpane button .ui-datepicker-group {
  float: right;
}
.ui-datepicker .ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.ui-datepicker.ui-widget {
  font-family: Modus, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
.ui-datepicker.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-datepicker.ui-widget input,
.ui-datepicker.ui-widget select,
.ui-datepicker.ui-widget textarea,
.ui-datepicker.ui-widget button {
  font-family: Modus, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
}
.ui-datepicker.ui-widget-content {
  border: 1px solid #b7b1a9;
  color: #ffffff;
}
.ui-datepicker.ui-widget-content a {
  color: #ffffff;
}
.ui-datepicker .ui-widget-header {
  color: #b7b1a9;
  font-weight: bold;
}
.ui-datepicker .ui-widget-header a {
  color: #b7b1a9;
}
img.ui-datepicker-trigger {
  margin: 0 8px 0 -28px;
}
.hasDatepicker.placeholder {
  width: 9em;
  cursor: text;
  padding: 7px;
  color: #b7b1a9;
}
.tittel-dekorert,
.hode-dekorert {
  padding-bottom: 2rem;
  position: relative;
  text-align: center;
}
.tittel-dekorert:after,
.hode-dekorert:after {
  content: "";
  width: 2.5rem;
  height: 1px;
  left: 50%;
  bottom: 0;
  position: absolute;
  background-color: #3e3832;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hode {
  margin-top: 0;
  position: relative;
  padding-top: 4rem;
}
.hode:before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  left: 50%;
  position: absolute;
  top: 0;
  background-color: #3e3832;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hode-feil:before,
.hode-feil:after {
  background-color: #ba3a26;
}
.hode-advarsel:before,
.hode-advarsel:after {
  background-color: #ff9100;
}
.hode-suksess:before,
.hode-suksess:after {
  background-color: #119b49;
}
.table-of-contents {
  font-family: Modus, "Helvetica", "Arial", "sans-serif";
}
.table-of-contents ol {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #b7b1a9;
}
.table-of-contents ol li {
  font-size: 1.0675rem;
  border-bottom: 1px solid #b7b1a9;
}
.table-of-contents ol a {
  color: #3e3832;
  font-weight: 600;
  display: block;
  padding: 6px 0;
  position: relative;
}
.table-of-contents ol a:hover,
.table-of-contents ol a:focus,
.table-of-contents ol a:active {
  text-decoration: none;
  color: #0067c5;
}
.table-of-contents ol a:hover:before,
.table-of-contents ol a:focus:before,
.table-of-contents ol a:active:before {
  border: 3px solid #0067c5;
  border-radius: 50%;
  display: inline-block;
  content: " ";
  position: absolute;
  left: -11px;
  top: 14px;
}
.lenkeliste {
  list-style: none;
  padding: 0;
  display: block;
}
.lenkeliste li {
  position: relative;
  font-size: 0.75rem;
  border-bottom: 1px solid #b7b1a9;
}
.lenkeliste li a {
  color: #3e3832;
  display: block;
  padding: 10px 10px 10px 12px;
  text-align: left;
  text-decoration: none;
  border-bottom: none;
  margin-left: -12px;
}
.lenkeliste li a:hover {
  border-bottom-color: #b7b1a9;
  color: #0067c5;
}
.lenkeliste li a:hover:before {
  border: 3px solid #0067c5;
  border-radius: 50% 50% 50% 50%;
  content: " ";
  left: -10px;
  top: 16px;
  float: left;
  position: absolute;
  text-align: left;
}
.lenkeliste li a:focus {
  box-shadow: 0 0 0 3px #ffbd66;
  outline: none;
  background: transparent;
}
.lenkeliste li a.selected {
  position: relative;
}
.lenkeliste li a.selected:before,
.lenkeliste li a.selected:after {
  content: " ";
  display: inline-block;
  border: solid rgba(209, 209, 209, 0);
  transform: scale(0.9999);
  outline: none;
  position: absolute;
  right: 100%;
}
@media (max-width: 47.99em) {
  .lenkeliste li a.selected:before,
  .lenkeliste li a.selected:after {
    border: 0;
  }
}
.lenkeliste li a.selected:before {
  border-width: 12px;
  border-right-color: #b7b1a9;
  top: 8px;
}
.lenkeliste li a.selected:after {
  border-width: 10px;
  border-right-color: #fff;
  top: 10px;
}
.panel .lenkeliste,
.rammepanel .lenkeliste {
  padding-left: 8px;
}
.ustilet {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.liste-vannrett {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.liste-vannrett li {
  display: inline-block;
}
.liste-vannrett li:not(:last-child) {
  padding-right: 1rem;
  margin-right: 1rem;
  position: relative;
}
.liste-vannrett li:not(:last-child):after {
  right: 0;
  content: "\2022";
  position: absolute;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
.liste-sentrert {
  text-align: center;
}
.panel {
  background: #ffffff;
  padding: 1rem 1rem 1.25rem 1rem;
  margin-bottom: 1rem;
  display: block;
}
.panel-ekstra {
  position: relative;
  border: 1px solid #b7b1a9;
  margin-top: 2rem;
  background-color: #efefef;
  margin-left: -1rem;
  margin-right: -1rem;
  border-left-width: 0;
  border-right-width: 0;
}
.panel-ekstra:after,
.panel-ekstra:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-top: 0;
  top: -1rem;
  left: 50%;
  border-width: 1rem;
}
.panel-ekstra:after {
  border-bottom-color: #efefef;
  transform: translate(-50%, 1px);
}
.panel-ekstra:before {
  border-bottom-color: #b7b1a9 !important;
  transform: translateX(-50%);
}
a.panel {
  display: block;
  color: #3e3832;
  border: 0;
}
a.panel:hover {
  border: 0;
}
a.panel:focus {
  outline: 3px #ffbd66 solid;
  background-color: #ffffff;
}
.panel-ramme,
a.panel-ramme {
  border: 1px solid #b7b1a9;
}
a.panel-ramme:hover {
  border: 1px solid #0067c5;
}
.panel-feilsammendrag {
  color: #ffffff;
  background-color: #ba3a26;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 3rem;
}
.panel-feilsammendrag a {
  color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (min-width: 30rem) {
  .panel-ekstra {
    border-left-width: 1px;
    border-right-width: 1px;
    margin-left: 0;
    margin-right: 0;
  }
  .panel-ekstra:before,
  .panel-ekstra:after {
    left: 3rem;
  }
  .panel {
    padding: 2rem 2rem 2.25rem 2rem;
  }
}
.skjema-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.skjema-fieldset legend {
  font-family: Modus, "Helvetica", "Arial", "sans-serif";
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: .35rem;
}
.skjema-sporsmal {
  font-size: 1.0675rem;
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 600;
  margin-bottom: .5rem;
  margin-top: 0;
}
@media (min-width: 30em) {
  .skjema-sporsmal {
    font-size: 1rem;
  }
}
.skjema-infotekst {
  font-size: 1.0675rem;
  font-family: "Helvetica", "Arial", "sans-serif";
}
@media (min-width: 30em) {
  .skjema-infotekst {
    font-size: 1rem;
  }
}
.skjema-feilmelding {
  display: none;
  color: #ba3a26;
  margin-bottom: 0;
  margin-top: .5rem;
  font-style: italic;
}
.hjelpetekst-container {
  position: absolute;
  top: 0;
  right: 0;
}
.ikon-hjelpetekst {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #0067c5;
  color: #0067c5;
  line-height: 1.5rem;
  background-color: transparent;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 50%;
  padding: 0;
  font-weight: bold;
}
.ikon-hjelpetekst:hover,
.ikon-hjelpetekst:active,
.ikon-hjelpetekst:focus {
  outline: 0;
}
.ikon-hjelpetekst:hover {
  color: #ffffff;
  background-color: #0067c5;
}
.ikon-hjelpetekst:focus {
  box-shadow: 0 0 0 3px #ffbd66;
}
.skjema-fragment {
  padding: .5rem;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 1rem;
  background: transparent;
  -webkit-transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -moz-transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -ms-transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -o-transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.skjema-fragment.er-feil {
  background-color: #ffedd6;
}
.skjema-fragment.er-feil input:not([type="submit"]),
.skjema-fragment.er-feil textarea {
  border: 1px solid #ba3a26;
  background: #fbf5f4;
}
.skjema-fragment.er-feil .skjema-feilmelding {
  display: block;
}
.skjema-fragment.er-feil + .er-feil {
  margin-top: 0;
}
.skjema-fragment.er-sist {
  margin-bottom: 0;
}
label {
  display: block;
  margin-bottom: .25rem;
  line-height: 1.4;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
  padding: .45rem;
  line-height: 1.2;
  border-radius: 1px;
  border: 1px solid #b7b1a9;
  max-width: 100%;
  font-size: 1.2rem;
  box-sizing: border-box;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus {
  outline: 3px solid #ffbd66;
}
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
select:hover {
  border: 1px solid #0067c5;
  -webkit-transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -moz-transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -ms-transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -o-transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
textarea:disabled:hover,
input[type="text"]:disabled:hover,
input[type="password"]:disabled:hover,
input[type="datetime"]:disabled:hover,
input[type="datetime-local"]:disabled:hover,
input[type="date"]:disabled:hover,
input[type="month"]:disabled:hover,
input[type="time"]:disabled:hover,
input[type="week"]:disabled:hover,
input[type="number"]:disabled:hover,
input[type="email"]:disabled:hover,
input[type="url"]:disabled:hover,
input[type="search"]:disabled:hover,
input[type="tel"]:disabled:hover,
input[type="color"]:disabled:hover,
select:disabled:hover,
textarea.er-inaktiv:hover,
input[type="text"].er-inaktiv:hover,
input[type="password"].er-inaktiv:hover,
input[type="datetime"].er-inaktiv:hover,
input[type="datetime-local"].er-inaktiv:hover,
input[type="date"].er-inaktiv:hover,
input[type="month"].er-inaktiv:hover,
input[type="time"].er-inaktiv:hover,
input[type="week"].er-inaktiv:hover,
input[type="number"].er-inaktiv:hover,
input[type="email"].er-inaktiv:hover,
input[type="url"].er-inaktiv:hover,
input[type="search"].er-inaktiv:hover,
input[type="tel"].er-inaktiv:hover,
input[type="color"].er-inaktiv:hover,
select.er-inaktiv:hover {
  border: 1px solid #b7b1a9;
}
textarea,
select {
  line-height: 1.2;
}
.select-container {
  position: relative;
  display: inline-block;
}
.select-container select {
  padding-right: 1.5rem;
  border: 1px solid #b7b1a9;
  background-color: transparent;
  -webkit-appearance: none;
}
.select-container:after {
  content: "";
  border-top: 6px solid #3e3832;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  right: .5rem;
  top: 45%;
}
.input-xxs {
  width: 20px;
}
.input-xs {
  width: 40px;
}
.input-s {
  width: 80px;
}
.input-m {
  width: 160px;
}
.input-l {
  width: 250px;
}
.input-xl {
  width: 400px;
}
.input-fullbredde {
  width: 100%;
}
.nav-checkbox,
.nav-radioknapp {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.nav-checkbox:hover + label:before,
.nav-radioknapp:hover + label:before {
  border-color: #0067c5;
}
.nav-checkbox:focus + label:before,
.nav-radioknapp:focus + label:before {
  box-shadow: 0 0 0 3px #ffbd66;
}
.nav-checkbox:disabled + label:before,
.nav-radioknapp:disabled + label:before {
  background-color: #b7b1a9;
}
.nav-checkbox + label,
.nav-radioknapp + label {
  padding-left: 2rem;
  position: relative;
  padding-top: 2px;
  display: block;
  min-height: 22px;
  cursor: pointer;
}
.nav-checkbox + label:before,
.nav-radioknapp + label:before {
  content: "";
  width: 22px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #978e85;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0 0;
  -webkit-transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -moz-transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -ms-transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -o-transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.nav-checkbox:checked + label:before,
.nav-radioknapp:checked + label:before {
  border-color: #0067c5;
  width: 20px;
  height: 20px;
  border-width: 2px;
  background-size: 24px 24px;
}
.nav-radioknapp + label:before {
  border-radius: 50%;
}
.nav-checkbox + label:before {
  border-radius: 2px;
}
.nav-checkbox:checked + label:before {
  background-color: #0067c5;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  /* WebKit browsers */
  line-height: 1.3;
  color: #7f756c;
}
@media (min-width: 30em) {
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select {
    font-size: 1rem;
  }
  .nav-checkbox + label,
  .nav-radioknapp + label {
    padding-top: 3px;
  }
}
.content-languages {
  background: transparent url('../img/enonic/gfx/tts/language_default.png') no-repeat 8% center;
  display: inline-block;
  padding: 3px 7px 3px 27px;
  position: relative;
  margin-left: 3%;
  vertical-align: top;
  margin-top: -3px;
  cursor: pointer;
  z-index: 1;
}
.content-languages.selected {
  background: #000000 url('../img/enonic/gfx/tts/language_selected.png') no-repeat 8% center;
}
.content-languages.selected > span {
  color: #ffffff;
}
.content-languages.selected > span:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 4px;
}
.content-languages.selected:hover,
.content-languages.selected:focus,
.content-languages.selected:active {
  background: #000000 url('../img/enonic/gfx/tts/language_selected.png') no-repeat 8% center;
}
.content-languages.selected:hover span,
.content-languages.selected:focus span,
.content-languages.selected:active span {
  color: #ffffff;
}
.content-languages.selected:hover span:after,
.content-languages.selected:focus span:after,
.content-languages.selected:active span:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
}
@media (max-width: 47.99em) {
  .content-languages {
    margin-left: 0;
  }
}
.content-languages > span {
  text-decoration: none;
  color: #7f756c;
  cursor: pointer;
}
.content-languages > span:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #7f756c;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 4px;
}
.content-languages ul {
  padding: 0;
  width: 100%;
  margin: 0;
  left: 0;
  position: absolute;
  top: 23px;
  background: #7f756c;
  border: 1px solid #3e3832;
  border-top: none;
}
.content-languages ul li {
  display: block;
  float: left;
  width: 100%;
  padding: 0;
  position: relative;
}
.content-languages ul li .active-lang:after {
  border: 2px solid #0067c5;
  border-radius: 50% 50% 50% 50%;
  content: " ";
  left: 17px;
  top: 46%;
  float: left;
  position: absolute;
  text-align: left;
}
.content-languages ul li:first-child a {
  padding-top: 7px;
}
.content-languages ul li:last-child a {
  padding-bottom: 7px;
}
.content-languages ul li a {
  padding: 4px 0 4px 27px;
  color: #ffffff;
}
.content-languages ul li a:hover {
  color: #0067c5;
  text-decoration: none;
}
.content-languages:hover,
.content-languages:focus,
.content-languages:active {
  background-image: url('../img/enonic/gfx/tts/language_hover.png');
  background-repeat: no-repeat;
  background-position: 8% center;
}
.content-languages:hover span,
.content-languages:focus span,
.content-languages:active span {
  color: #0067c5;
}
.content-languages:hover span:after,
.content-languages:focus span:after,
.content-languages:active span:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #65caeb;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
}
.stegindikator {
  display: table;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 1.0675rem;
  text-transform: uppercase;
  font-family: Modus, "Helvetica", "Arial", "sans-serif";
  font-weight: 600;
}
@media (min-width: 30em) {
  .stegindikator {
    font-size: 1rem;
  }
}
.stegindikator a {
  background-color: #ffffff;
  color: #3e3832;
  text-decoration: none;
  border: 0;
}
.stegindikator a:hover {
  border: 0;
  text-decoration: underline;
}
.stegindikator li {
  display: block;
  float: left;
  position: relative;
  border: 1px solid #b7b1a9;
  background: #f9f9f9;
  /* TODO */
  color: #3e3832;
  text-decoration: none;
}
.stegindikator li.er-aktiv,
.stegindikator li.er-aktiv a {
  background: #c30000;
  color: #ffffff;
}
.stegindikator li:not(:last-child) {
  margin-right: 10px;
}
.stegindikator li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  left: 100%;
  top: 50%;
  width: 11px;
  background-color: #b7b1a9;
}
.stegindikator-steg {
  padding: .5rem .75rem;
  display: block;
}
.stegindikator-navn {
  display: none;
}
.er-aktiv .stegindikator-indeks {
  display: none;
}
.er-aktiv .stegindikator-navn {
  display: block;
}
@media only screen and (min-width: 40em) {
  .stegindikator-indeks {
    display: none;
  }
  .stegindikator-navn {
    display: block;
  }
}
@media only screen and (min-width: 60em) {
  .stegindikator-steg {
    padding: .75rem 3rem;
  }
}
div.wicket-mask-dark {
  background-color: #000000;
  opacity: 0.7;
  right: 0;
  bottom: 0;
}
div.wicket-modal {
  background: #ffffff;
  z-index: 20001;
}
div.wicket-modal div.w_caption {
  height: 30px;
  text-align: right;
}
div.wicket-modal div.w_caption:hover {
  cursor: move;
}
div.wicket-modal div a.w_close {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 4px;
  background-color: #ffffff;
  background-position: 5px 5px !important;
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTUuMzFweCIgaGVpZ2h0PSIxNS4yMnB4IiB2aWV3Qm94PSIwIDAgMTUuMzEgMTUuMjIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjMxIDE1LjIyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIHBvaW50cz0iMTQuNjc5LDIuMjI0IDEyLjkwOSwwLjQ1MyA3LjU5Nyw1Ljc2NSAyLjI4NSwwLjQ1MyAwLjUxNCwyLjIyNCA1LjgyNiw3LjUzNiAwLjUxNCwxMi44NDggMi4yODUsMTQuNjE3IA0KCTcuNTk3LDkuMzA3IDEyLjkwOSwxNC42MTcgMTQuNjc5LDEyLjg0OCA5LjM2Nyw3LjUzNiAiLz4NCjwvc3ZnPg0K") !important;
  border: 1px solid #b7b1a9;
}
div.wicket-modal div a.w_close:hover {
  background-color: #efefef !important;
}
div.wicket-modal div.w_content_container {
  padding: 0 10px 10px;
}
div.wicket-modal .bekreft-dialog .begrunnelsestekst {
  width: 470px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
div.wicket-modal .bekreft-dialog BUTTON[class*=knapp-] {
  display: block;
  margin: 40px auto 0 auto;
}
div.wicket-modal .bekreft-dialog BUTTON[class*=knapp-].knapp-lenke {
  padding-left: 0;
}
div.wicket-modal .bekreft-dialog #begrunnelseForm LABEL.error {
  position: absolute;
  font-size: 15.04px !important;
  left: 0;
  width: auto;
  margin-top: 0;
  color: #ff7878;
  margin-left: 64px;
  text-transform: none;
}
div.wicket-modal .bekreft-dialog #begrunnelseForm textarea.error {
  background-color: #f7cece;
}
