/*csslint adjoining-classes: false, box-sizing: false, box-model: false, font-sizes: false  */
/*

Dersom du ønsker å bruke typografi fra NAVs typografiske hierarki men 
ikke ønsker å bruke klassene for dem i HTML-en din, kan du bruke følgende mixins.

De er også responsive slik at: 

	.min-tittel {
		.mixin-typo-sidetittel(); 
	}

...vil gi følgende output i CSS: 

	.min-tittel {
		// Regler
	}

	@media(min-width: 30em) {
		.min-tittel {
			// Regler
		}
	}

*/
.ikon-utropstegn,
.hode-feil:before,
.hode-advarsel:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%224px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%204%2016%22%20enable-background%3D%22new%200%200%204%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22bkdg%22%20display%3D%22none%22%20opacity%3D%220.1%22%3E%0A%09%3Crect%20x%3D%22-6%22%20display%3D%22inline%22%20fill%3D%22%23FFFFFF%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Layer_1%22%3E%0A%09%3Crect%20y%3D%2213%22%20fill%3D%22%23FFFFFF%22%20width%3D%224%22%20height%3D%223%22%2F%3E%0A%09%3Crect%20fill%3D%22%23FFFFFF%22%20width%3D%224%22%20height%3D%2211%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.ikon-suksess,
.hode-suksess:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22bkdg%22%20display%3D%22none%22%20opacity%3D%220.1%22%3E%0A%09%3Crect%20display%3D%22inline%22%20fill%3D%22%23FFFFFF%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Layer_1%22%3E%0A%09%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2213%2C0%206.1%2C12.2%203%2C7%200%2C7%205%2C16%208%2C16%2016%2C0%20%09%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.ikon-radioknapp,
.nav-radioknapp:checked + label:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2022%2022%22%20enable-background%3D%22new%200%200%2022%2022%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Ccircle%20fill%3D%22%230067C5%22%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%225.3%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.ikon-checkbox,
.nav-checkbox:checked + label:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2022%2022%22%20enable-background%3D%22new%200%200%2022%2022%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%229.3%2C15.4%206%2C11%208.4%2C11%2010%2C13%2013.7%2C6.6%2016%2C6.6%2010.9%2C15.4%20%09%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.hjelpetekst-parent {
  position: relative;
}
.hjelpetekst-parent.hjelpetekst-parent-block {
  display: inline-block;
  padding-right: 40px;
}
.hjelpetekst {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 21px;
}
.hjelpetekst.hjelpetekst-inline {
  position: relative;
}
.hjelpetekst-parent-inline input[type="radio"] + label,
.hjelpetekst-parent-inline input[type="checkbox"] + label {
  padding-right: 20px;
}
.hjelpetekst-ikon {
  display: block;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid #0067c5;
  color: #0067c5;
  background: transparent;
  padding: 0;
}
.hjelpetekst-ikon:focus,
.hjelpetekst-ikon:hover,
.hjelpetekst-ikon:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #0067c5;
}
.hjelpetekst-ikon:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffbd66;
}
.hjelpetekst-tooltip {
  background-color: #3e3832;
  padding: 28px 20px 20px 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 1040;
  text-align: center;
  opacity: 0;
  color: #cccccc;
}
.hjelpetekst-tooltip.er-synlig {
  opacity: 1;
}
.hjelpetekst-tittel {
  padding-bottom: 2rem;
  position: relative;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0;
}
.hjelpetekst-tittel:after {
  content: "";
  width: 2rem;
  height: 1px;
  left: 50%;
  bottom: 0;
  position: absolute;
  background-color: #3e3832;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hjelpetekst-tittel:after {
  background-color: #cccccc;
}
.hjelpetekst-tekst {
  max-height: 180px;
  overflow-y: auto;
  text-align: left;
  margin-bottom: 16px;
}
.hjelpetekst-tekst p {
  font-weight: normal;
  margin-bottom: 0;
}
.hjelpetekst-lukk {
  text-transform: uppercase;
  color: #66cbec;
  font-weight: 600;
  padding: 8px;
  font-size: 0.65625rem;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: 0;
}
.hjelpetekst-lukk:hover {
  text-decoration: underline;
}
@media (min-width: 62em) {
  .hjelpetekst-tooltip {
    position: absolute;
    width: 350px;
    left: 0;
    bottom: 40px;
    top: auto;
    opacity: 0;
    text-align: center;
  }
  .hjelpetekst-tooltip:before {
    content: "";
    border: solid transparent;
    border-width: 10px;
    position: absolute;
    height: 0;
    width: 0;
    left: 20px;
    border-top-color: #3e3832;
    top: 100%;
  }
  .hjelpetekst-tekst {
    margin-bottom: 0;
  }
}
.hjelpetekst-tooltip .ps-container:hover [class*="ps-scrollbar"] {
  opacity: 1;
}
.hjelpetekst-tooltip .ps-container [class*="ps-scrollbar"] {
  background-color: #00a9e0;
  opacity: 0.6;
}
.hjelpetekst-tooltip .ps-container [class*="ps-scrollbar"]:hover {
  opacity: 1;
}
.hjelpetekst-tooltip .ps-container [class*="ps-scrollbar"].in-scrolling {
  opacity: 1;
}
.hjelpetekst-tooltip.under:before {
  border-top-color: transparent;
  border-bottom-color: #3e3832;
  top: -20px;
}
@media only screen and (max-width: 30em) {
  .hjelpetekst-parent {
    display: block;
  }
  .hjelpetekst-parent .hjelpetekst-inline {
    position: absolute;
    right: 0;
  }
}
body.contrast .hjelpetekst a.infoikon span {
  border-color: #ffc40d;
  color: #ffc40d;
}
body.contrast .hjelpetekst a.infoikon span:hover,
body.contrast .hjelpetekst a.infoikon span:focus {
  border-color: #0ca9e1;
  background-color: #0ca9e1;
  color: #000;
}
body.contrast .hjelpetekst .hjelpetekst-tooltip {
  background-color: #fff;
}
body.contrast .hjelpetekst .hjelpetekst-tooltip div,
body.contrast .hjelpetekst .hjelpetekst-tooltip h3,
body.contrast .hjelpetekst .hjelpetekst-tooltip p,
body.contrast .hjelpetekst .hjelpetekst-tooltip a {
  background-color: #fff;
  color: #000;
}
body.contrast .hjelpetekst .hjelpetekst-tooltip:before {
  border-top-color: #fff;
}
body.contrast .hjelpetekst .hjelpetekst-lukk {
  background-color: #fff;
  color: #0053A1;
}
.tittel-dekorert,
.hode-dekorert {
  padding-bottom: 2rem;
  position: relative;
  text-align: center;
}
.tittel-dekorert:after,
.hode-dekorert:after {
  content: "";
  width: 2rem;
  height: 1px;
  left: 50%;
  bottom: 0;
  position: absolute;
  background-color: #3e3832;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hode {
  margin-top: 0;
  position: relative;
  padding-top: 3.6rem;
}
.hode:before {
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  left: 50%;
  position: absolute;
  top: 0;
  background-color: #3e3832;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hode-undertittel {
  font-family: Modus, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 3rem;
}
.hode-innholdstittel {
  font-family: Modus, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
@media (min-width: 30em) {
  .hode-innholdstittel {
    font-size: 1.875rem;
  }
}
.hode-feil:before,
.hode-feil:after {
  background-color: #ba3a26;
}
.hode-advarsel:before,
.hode-advarsel:after {
  background-color: #ff9100;
}
.hode-suksess:before,
.hode-suksess:after {
  background-color: #119b49;
}
.knapperad {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 1rem;
}
.knapperad-adskilt {
  border-top: 1px solid #b7b1a9;
}
@media (min-width: 30em) {
  .knapperad {
    padding-top: 2rem;
  }
}
.lenkeliste {
  list-style: none;
  padding: 0;
  display: block;
}
.lenkeliste li {
  position: relative;
  font-size: 0.75rem;
  border-bottom: 1px solid #b7b1a9;
}
.lenkeliste a {
  color: #3e3832;
  display: block;
  padding: 10px 10px 10px 12px;
  text-align: left;
  text-decoration: none;
  border-bottom: none;
  margin-left: -12px;
}
.lenkeliste a:hover {
  border-bottom-color: #b7b1a9;
  color: #0067c5;
}
.lenkeliste a:hover:before {
  border: 3px solid #0067c5;
  border-radius: 50% 50% 50% 50%;
  content: " ";
  left: -10px;
  top: 16px;
  float: left;
  position: absolute;
  text-align: left;
}
.lenkeliste a:focus {
  box-shadow: 0 0 0 3px #ffbd66;
  outline: 0;
  background: transparent;
}
.lenkeliste a.er-valgt {
  position: relative;
}
.lenkeliste a.er-valgt:before,
.lenkeliste a.er-valgt:after {
  content: " ";
  display: inline-block;
  border: #efefef;
  border: solid rgba(209, 209, 209, 0);
  transform: scale(0.9999);
  position: absolute;
  right: 100%;
}
@media (max-width: 47.99em) {
  .lenkeliste a.er-valgt:before,
  .lenkeliste a.er-valgt:after {
    border: 0;
  }
}
.lenkeliste a.er-valgt:before {
  border-width: 12px;
  border-right-color: #b7b1a9;
  top: 8px;
}
.lenkeliste a.er-valgt:after {
  border-width: 10px;
  border-right-color: #fff;
  top: 10px;
}
.panel .lenkeliste {
  padding-left: 8px;
}
.ustilet {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.liste-vannrett {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.liste-vannrett li {
  display: inline-block;
}
.liste-vannrett li:not(:last-child) {
  padding-right: 1rem;
  margin-right: 1rem;
  position: relative;
}
.liste-vannrett li:not(:last-child):after {
  right: 0;
  top: 0;
  content: "\2022";
  position: absolute;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
.liste-sentrert {
  text-align: center;
}
.panel {
  background: #ffffff;
  padding: 1rem 1rem 1.25rem 1rem;
  margin-bottom: 1rem;
  display: block;
}
.panel-stablet {
  margin-bottom: 0;
}
.panel-ekstra {
  position: relative;
  border: 1px solid #b7b1a9;
  margin-top: 1rem;
  background-color: #efefef;
  margin-left: -1rem;
  margin-right: -1rem;
  border-left-width: 0;
  border-right-width: 0;
}
.panel-ekstra:after,
.panel-ekstra:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-top: 0;
  top: -0.75rem;
  left: 50%;
  border-width: 0.75rem;
}
.panel-ekstra:after {
  border-bottom-color: #efefef;
  transform: translate(-50%, 1px);
}
.panel-ekstra:before {
  border-bottom-color: #b7b1a9;
  transform: translateX(-50%);
}
a.panel {
  display: block;
  color: #3e3832;
  border: 0;
}
a.panel:hover {
  border: 0;
}
a.panel:focus {
  outline: 3px #ffbd66 solid;
  background-color: #ffffff;
}
.panel-ramme,
a.panel-ramme {
  border: 1px solid #b7b1a9;
}
a.panel-ramme:hover {
  border: 1px solid #0067c5;
}
.panel-feilsammendrag {
  color: #ffffff;
  background-color: #ba3a26;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 3rem;
}
.panel-feilsammendrag a {
  color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (min-width: 30em) {
  .panel {
    padding: 2rem 2rem 2.25rem 2rem;
  }
  .panel-ekstra {
    border-left-width: 1px;
    border-right-width: 1px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
  }
  .panel-ekstra:before,
  .panel-ekstra:after {
    left: 3rem;
  }
}
.nav-input {
  position: relative;
  margin-bottom: .5rem;
}
.nav-input.har-hjelpetekst {
  padding-right: 3rem;
}
.skjema-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.skjema-fieldset legend {
  font-family: Modus, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.skjema-sporsmal {
  font-size: 0.9375rem;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 600;
  margin-bottom: .5rem;
  margin-top: 0;
}
@media (min-width: 30em) {
  .skjema-sporsmal {
    font-size: 0.875rem;
  }
}
.skjema-infotekst {
  font-size: 1.0675rem;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  margin-bottom: 20px;
}
@media (min-width: 30em) {
  .skjema-infotekst {
    font-size: 1rem;
  }
}
.skjema-infotekst h2,
.skjema-infotekst h3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 600;
  font-size: 1rem;
}
.skjema-feilmelding {
  display: none;
  color: #ba3a26;
  margin-bottom: 0;
  margin-top: .5rem;
  font-style: italic;
}
.skjema-fragment {
  padding: .5rem;
  margin: -0.5rem;
  background: transparent;
  -webkit-transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -moz-transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -ms-transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -o-transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: all 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.skjema-fragment.er-feil {
  background-color: #ffedd6;
}
.skjema-fragment.er-feil input:not([type="submit"]),
.skjema-fragment.er-feil textarea {
  border: 1px solid #ba3a26;
  background: #fbf5f4;
}
.skjema-fragment.er-feil .skjema-feilmelding {
  display: block;
}
.skjema-fragment.er-feil + .er-feil {
  margin-top: 0;
}
label {
  display: block;
  margin-bottom: .25rem;
  line-height: 1.4;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
  padding: .45rem;
  line-height: 1.2;
  border-radius: 1px;
  border: 1px solid #b7b1a9;
  max-width: 100%;
  font-size: 1.2rem;
  box-sizing: border-box;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus {
  outline: 3px solid #ffbd66;
}
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
select:hover {
  border: 1px solid #0067c5;
  -webkit-transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -moz-transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -ms-transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -o-transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: all 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
textarea:disabled:hover,
input[type="text"]:disabled:hover,
input[type="password"]:disabled:hover,
input[type="datetime"]:disabled:hover,
input[type="datetime-local"]:disabled:hover,
input[type="date"]:disabled:hover,
input[type="month"]:disabled:hover,
input[type="time"]:disabled:hover,
input[type="week"]:disabled:hover,
input[type="number"]:disabled:hover,
input[type="email"]:disabled:hover,
input[type="url"]:disabled:hover,
input[type="search"]:disabled:hover,
input[type="tel"]:disabled:hover,
input[type="color"]:disabled:hover,
select:disabled:hover,
textarea.er-inaktiv:hover,
input[type="text"].er-inaktiv:hover,
input[type="password"].er-inaktiv:hover,
input[type="datetime"].er-inaktiv:hover,
input[type="datetime-local"].er-inaktiv:hover,
input[type="date"].er-inaktiv:hover,
input[type="month"].er-inaktiv:hover,
input[type="time"].er-inaktiv:hover,
input[type="week"].er-inaktiv:hover,
input[type="number"].er-inaktiv:hover,
input[type="email"].er-inaktiv:hover,
input[type="url"].er-inaktiv:hover,
input[type="search"].er-inaktiv:hover,
input[type="tel"].er-inaktiv:hover,
input[type="color"].er-inaktiv:hover,
select.er-inaktiv:hover {
  border: 1px solid #b7b1a9;
}
textarea,
select {
  line-height: 1.2;
}
.select-container {
  position: relative;
  display: inline-block;
}
.select-container select {
  padding-right: 1.5rem;
  border: 1px solid #b7b1a9;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select-container:after {
  content: "";
  border-top: 6px solid #3e3832;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  right: .5rem;
  top: 45%;
}
.input-xxs {
  width: 20px;
}
.input-xs {
  width: 40px;
}
.input-s {
  width: 80px;
}
.input-m {
  width: 160px;
}
.input-l {
  width: 250px;
}
.input-xl {
  width: 400px;
}
.input-fullbredde {
  width: 100%;
}
.nav-checkbox,
.nav-radioknapp {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.nav-checkbox:hover + label:before,
.nav-radioknapp:hover + label:before {
  border-color: #0067c5;
}
.nav-checkbox:focus + label:before,
.nav-radioknapp:focus + label:before {
  box-shadow: 0 0 0 3px #ffbd66;
}
.nav-checkbox:disabled + label:before,
.nav-radioknapp:disabled + label:before {
  background-color: #b7b1a9;
}
.nav-checkbox + label,
.nav-radioknapp + label {
  padding-left: 2rem;
  position: relative;
  padding-top: 1px;
  display: block;
  min-height: 22px;
  cursor: pointer;
}
.nav-checkbox + label:before,
.nav-radioknapp + label:before {
  content: "";
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #978e85;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0 0;
  -webkit-transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -moz-transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -ms-transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -o-transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.nav-checkbox:checked + label:before,
.nav-radioknapp:checked + label:before {
  border-color: #0067c5;
  width: 18px;
  height: 18px;
  border-width: 2px;
  background-size: 24px 24px;
}
.nav-radioknapp + label:before {
  border-radius: 50%;
}
.nav-checkbox + label:before {
  border-radius: 2px;
}
.nav-checkbox:checked + label:before {
  background-color: #0067c5;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  /* WebKit browsers */
  line-height: 1.3;
  color: #7f756c;
}
@media (min-width: 30em) {
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select {
    font-size: 1rem;
  }
  .nav-checkbox + label,
  .nav-radioknapp + label {
    padding-top: 1px;
  }
}
.accordion {
  overflow: hidden;
  padding-top: 2px;
  background-color: #efefef;
  border-bottom: 1px solid #bdbab7;
  position: relative;
  top: -3px;
}
.accordion-group {
  position: relative;
  border-top: 1px solid #b7b1a9;
  background-color: #efefef;
}
.accordion-group:hover {
  background-color: #e6e6e6;
}
.accordion-group:hover .accordion-inner {
  background-color: white;
}
.accordion-group.open {
  background-color: white;
}
.accordion-group.open .accordion-tittel:after {
  display: block;
}
.accordion-group.open .accordion-toggle:hover,
.accordion-group.open .accordion-toggle:focus {
  background: #ffffff;
}
.accordion-group:not(.open) .accordion-header:hover .accordion-flipp {
  border-color: transparent transparent #3e3832;
}
.accordion-group:not(.open) .accordion-header:hover .accordion-flipp:before {
  border-top: 30px solid #0067c5;
}
.accordion-group .collapse {
  position: relative;
  height: 0;
  -webkit-transition: height 300ms ease-in;
  -moz-transition: height 300ms ease-in;
  -ms-transition: height 300ms ease-in;
  -o-transition: height 300ms ease-in;
  transition: height 300ms ease-in;
}
.accordion-group .collapse.in {
  height: auto;
}
.accordion-group .accordion-tittel:after {
  display: none;
}
.accordion-header {
  text-align: center;
}
.accordion-tittel {
  font-family: Modus, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #3e3832;
}
@media (min-width: 30em) {
  .accordion-tittel {
    font-size: 1.875rem;
  }
}
.accordion-flipp {
  position: relative;
  top: -3px;
  width: 64px;
  height: 0;
  margin: 0 auto;
  border-style: solid;
  border-color: transparent transparent #3e3832 transparent;
  border-width: 0 2px 3px 2px;
  z-index: 10;
}
.accordion-flipp:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-top: 30px solid #b7b1a9;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.open .accordion-flipp {
  cursor: pointer;
  border-color: transparent transparent #3e3832 transparent;
}
.open .accordion-flipp:before {
  border-top: 30px solid #c30000;
}
.open .accordion-toggle:focus {
  box-shadow: none;
}
.accordion-toggle {
  text-decoration: none;
  display: block;
  outline: none;
}
.accordion-toggle:hover,
.accordion-toggle:focus {
  text-decoration: none;
  background: #e6e6e6;
}
.accordion-toggle:active .accordion-flipp {
  cursor: pointer;
  border-color: transparent transparent #3e3832 transparent;
}
.accordion-toggle:active .accordion-flipp:before {
  border-top: 30px solid #c30000;
}
.accordion-toggle:focus {
  box-shadow: 0 0 0 3px #ffbd66;
  position: relative;
  z-index: 1;
}
.validert .accordion-flipp {
  cursor: pointer;
  border-color: transparent transparent #3e3832 transparent;
}
.validert .accordion-flipp:before {
  border-top: 30px solid #c30000;
}
.validert .accordion-title:before {
  display: inline-block;
  content: "";
  background: url('//img/hake.svg') no-repeat center 10px;
  width: 1.8375rem;
  height: 1.8375rem;
  background-size: 1.225rem;
}
@media only screen and (max-width: 767px) {
  .accordion-group:hover .accordion-flipp .accordion-flipp:hover:before {
    border-top-width: 25px;
  }
  .accordion-group .accordion-flipp:hover:before {
    border-top-width: 25px;
  }
  .accordion-group.open .accordion-flipp:before {
    border-top-width: 25px;
  }
  .accordion-group .accordion-flipp {
    top: -3px;
    width: 54px;
    border-width: 0 2px 3px 2px;
  }
  .accordion-group .accordion-flipp:before {
    border-top-width: 25px;
    border-left-width: 25px;
    border-right-width: 25px;
  }
  .accordion-group .accordion-title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .accordion-group.validert .accordion-title:before {
    width: 1.5625rem;
    height: 1.5625rem;
    background-size: 0.875rem;
  }
  .accordion-group.validert .accordion-flipp:before {
    border-top-width: 25px;
  }
  a.accordion-toggle:active .accordion-flipp:before,
  #vedlegg a.accordion-toggle:active .accordion-flipp:before {
    border-top-width: 25px;
  }
  a.accordion-toggle:focus .accordion-flipp:before,
  #vedlegg a.accordion-toggle:focus .accordion-flipp:before {
    border-top-width: 25px;
  }
}
body.contrast .accordion-group {
  border-top: 1px solid #555555;
}
body.contrast .accordion-group .accordion-flipp {
  border-color: transparent transparent #AB740D transparent !important;
}
body.contrast .accordion-group .accordion-flipp:before {
  border-top: 30px solid #ffc40d !important;
}
body.contrast .accordion-group .accordion-flipp:hover {
  border-color: transparent transparent #005283 transparent !important;
}
body.contrast .accordion-group .accordion-flipp:hover:before {
  border-top: 30px solid #0ca9e1 !important;
}
body.contrast .accordion-group.open .accordion-flipp {
  cursor: pointer;
  border-color: transparent transparent #AB740D transparent !important;
}
body.contrast .accordion-group.open .accordion-flipp:before {
  border-top: 30px solid #ffc40d !important;
}
body.contrast .accordion-group.open .accordion-flipp:hover {
  border-color: transparent transparent #005283 transparent !important;
}
body.contrast .accordion-group.open .accordion-flipp:hover:before {
  border-top: 30px solid #0ca9e1 !important;
}
body.contrast .accordion-group.validert .accordion-header h2:before {
  background: url('//img/hake-hvit.svg') no-repeat center 10px;
}
body.contrast .lastetopp h2:before,
body.contrast .behandlet h2:before {
  background: url('//img/hake-hvit.svg') no-repeat center 10px !important;
}
body.contrast a.accordion-toggle,
body.contrast #vedlegg a.accordion-toggle {
  display: block;
  outline: none;
}
body.contrast a.accordion-toggle:active .accordion-flipp,
body.contrast #vedlegg a.accordion-toggle:active .accordion-flipp {
  cursor: pointer;
  border-color: transparent transparent #AB740D transparent;
}
body.contrast a.accordion-toggle:active .accordion-flipp:before,
body.contrast #vedlegg a.accordion-toggle:active .accordion-flipp:before {
  border-top: 30px solid #ffc40d;
}
body.contrast a.accordion-toggle:focus .accordion-flipp,
body.contrast #vedlegg a.accordion-toggle:focus .accordion-flipp {
  cursor: pointer;
  border-color: transparent transparent #AB740D transparent;
}
body.contrast a.accordion-toggle:focus .accordion-flipp:before,
body.contrast #vedlegg a.accordion-toggle:focus .accordion-flipp:before {
  border-top: 30px solid #ffc40d;
}
body.contrast .accordion-group.validert .accordion-flipp,
body.contrast .vedlegg-bolk.validert .accordion-flipp {
  cursor: pointer;
  border-color: transparent transparent #AB740D transparent;
}
body.contrast .accordion-group.validert .accordion-flipp:before,
body.contrast .vedlegg-bolk.validert .accordion-flipp:before {
  border-top: 30px solid #ffc40d;
}
.content-languages {
  background: transparent url('../img/enonic/gfx/tts/language_default.png') no-repeat 8% center;
  display: inline-block;
  padding: 3px 7px 3px 27px;
  position: relative;
  margin-left: 3%;
  vertical-align: top;
  margin-top: -3px;
  cursor: pointer;
  z-index: 1;
}
.content-languages.selected,
.content-languages.selected:hover,
.content-languages.selected:focus,
.content-languages.selected:active {
  background: #000000 url('../img/enonic/gfx/tts/language_selected.png') no-repeat 8% center;
}
.content-languages.selected > span {
  color: #ffffff;
}
.content-languages.selected > span:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 4px;
}
.content-languages.selected:hover span,
.content-languages.selected:focus span,
.content-languages.selected:active span {
  color: #ffffff;
}
.content-languages.selected:hover span:after,
.content-languages.selected:focus span:after,
.content-languages.selected:active span:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
}
@media (max-width: 47.99em) {
  .content-languages {
    margin-left: 0;
  }
}
.content-languages > span {
  text-decoration: none;
  color: #7f756c;
  cursor: pointer;
}
.content-languages > span:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #7f756c;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 4px;
}
.content-languages ul {
  padding: 0;
  width: 100%;
  margin: 0;
  left: 0;
  position: absolute;
  top: 23px;
  background: #7f756c;
  border: 1px solid #3e3832;
  border-top: none;
}
.content-languages ul li {
  display: block;
  float: left;
  width: 100%;
  padding: 0;
  position: relative;
}
.content-languages ul li .active-lang:after {
  border: 2px solid #0067c5;
  border-radius: 50% 50% 50% 50%;
  content: " ";
  left: 17px;
  top: 46%;
  float: left;
  position: absolute;
  text-align: left;
}
.content-languages ul li:first-child a {
  padding-top: 7px;
}
.content-languages ul li:last-child a {
  padding-bottom: 7px;
}
.content-languages ul li a {
  padding: 4px 0 4px 27px;
  color: #ffffff;
}
.content-languages ul li a:hover {
  color: #0067c5;
  text-decoration: none;
}
.content-languages:hover,
.content-languages:focus,
.content-languages:active {
  background-image: url('../img/enonic/gfx/tts/language_hover.png');
  background-repeat: no-repeat;
  background-position: 8% center;
}
.content-languages:hover span,
.content-languages:focus span,
.content-languages:active span {
  color: #0067c5;
}
.content-languages:hover span:after,
.content-languages:focus span:after,
.content-languages:active span:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #0067c5;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
}
.stegindikator {
  display: table;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-transform: uppercase;
}
.stegindikator a {
  background-color: #ffffff;
  color: #3e3832;
  text-decoration: none;
  border: 0;
}
.stegindikator a:hover {
  border: 0;
  text-decoration: underline;
}
.stegindikator li {
  display: block;
  float: left;
  position: relative;
  border: 1px solid #b7b1a9;
  background: #efefef;
  color: #3e3832;
  text-decoration: none;
}
.stegindikator li.er-aktiv,
.stegindikator li.er-aktiv a {
  background: #c30000;
  color: #ffffff;
}
.stegindikator li:not(:last-child) {
  margin-right: 10px;
}
.stegindikator li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  left: 100%;
  top: 50%;
  width: 11px;
  background-color: #b7b1a9;
}
.stegindikator-steg {
  padding: .5rem .75rem;
  display: block;
}
.stegindikator-navn {
  display: none;
}
.er-aktiv .stegindikator-indeks {
  display: none;
}
.er-aktiv .stegindikator-navn {
  display: block;
}
@media only screen and (min-width: 38.75em) {
  .stegindikator-indeks {
    display: none;
  }
  .stegindikator-navn {
    display: block;
  }
}
@media only screen and (min-width: 62em) {
  .stegindikator-steg {
    padding: .75rem 3rem;
  }
}
