[class*="sak-"] [class*="panel-"] {
	margin-right: 2%;
}

[class*="sak-"] [class*="panel-"]:last-child {
	margin-right: 0;
}

.sak-kvart [class*="panel-"] {
	width: 23%;
}

.sak-tredel [class*="panel-"] {
	width: 31.3333%;
}

.sak-halv [class*="panel-"] {
	width: 48%;
}

.sak-totredel [class*="panel-"] {
	width: 64.6666%;
}

.sak-trekvart [class*="panel-"] {
	width: 73%;
}

.sak-hel [class*="panel-"] {
	width: 100%;
}

.rad {
	padding: 30px;
}

.rad-logo {
	background: #fff;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	padding: 15px 30px;
	.logo {
		display: inline-block;
		width: 100px;
		height: 70px;
		background: url(../img/nav-logo.svg) no-repeat center;
	}
}

.rad-plakat {
	padding: 0 30px;
}

.rad-belyst {
	background-color: #fff;
	padding: 30px;
}

.rad-invertert {
	background-color: @grayDark;
	color: @grayLight;
	h1, h2, h3, h4, h5, h6, p, div, span {
		color: @grayLight;
	}
}

[class*="panel-"] {
	display: inline-block;
	&[class*="-belyst"] {
		background-color: #fff;
		padding: 1.5% 2% 3%;
		border: 1px solid #ddd;
		color: @grayDark;
		h1, h2, h3, h4, h5, h6, p, div, span {
			color: @grayDark;
		}
	}
	&[class*="-dus"] {
		background-color: #ddd;
		padding: 1.5% 2% 3%;
		border: 1px solid #ddd;
	}
	&[class*="-klikk"] {
		background-color: #fff;
		text-decoration: none;
		color: @textColor;
		padding: 1.5% 2% 3%;
		border: 1px solid #ddd;
		cursor: pointer;
		&:hover {
			background-color: @bodyBackground;
		}
		&:visited {
			color: @textColor;
		}
	}
	p {
		margin: 0;
		line-height: 1.4rem;
		&.ingress {
			margin: 1.2rem 0;
		}
	}
}

[class*="panel-mini"] {
	text-align: center;
	[class*="ikon-"] {
		margin-top: 4px;
	}
	[class*="robust"]:not([class*="ikon-"]) {
		margin-top: 14px;
	}
	.footer {
		position: absolute;
		height: 6rem;
		left: 0;
		right: 0;
		bottom: 0;
		[class*="knapp"] {
			margin-bottom: 1rem;
		}
	}
}

[class*="panel-standard"] {
	text-align: left;
}

.plakat {
	font-size: inherit;
	line-height: inherit;
	position: relative;
	box-sizing: border-box;
	border-radius: 0;
	height: 272px;
	border: 1px solid #ddd;
	background: url(../img/illustrasjonen.png) no-repeat;
	background-size: 1870px 270px;
	background-position: -425px 0;
	margin-bottom: 0;
	[class*="panel-mini"] {
		position: absolute;
		top: 25px;
		right: 100px;
		width: 280px;
		h1 {
			letter-spacing: 0;
		}
	}
}

/* TILBAKEMELDING start */

.tilbakemelding {
	.kollapset {
		background-color: @grayDark;
		position: relative;
		width: 23%;
		float: none;
		margin: 0 auto;
		background: #b7b1a9;
		text-align: center;
		padding: 20px;
		cursor: pointer;
		h1 {
			margin: 0 0 4px;
		}
		p {
			margin: 0;
		}
		&:after {
			width: 0;
			height: 0;
			left: 48%;
			bottom: -10px;
			margin: 0 auto;
			position: absolute;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			content: "";
			border-top: 10px solid #b7b1a9;
		}
	}
	.ekspandert {
		margin-top: -75px !important;
		padding-top: 80px;
		display: none;
		.panel-mini-belyst {
			margin-top: 30px;
			padding-bottom: 2%;
			background: url(../img/tilbakemelding-bg.jpg);
		}
		.knapp-hoved {
			display: block;
			margin: 30px auto 0;
		}
		form {
			display: inline;
		}
		textarea {
			width: 100%;
			height: 218px;
			line-height: 31px;
			padding-top: 0;
			padding-left: 45px;
			resize: none;
			background: url(../img/tilbakemelding-linjer.png) repeat-y;
			overflow: hidden;
		}
		.skjul-ekspandert {
			display: block;
			color: @grayLight;
			padding: 24px 0 30px;
		}
	}
	.tilbakemeldingsfeil {
		display: none;
		margin: 30px auto 0;
	}
	.feedbackPanel {
		margin: 0;
		padding: 0;
		.feedbackPanelERROR {
			list-style-type: none;
			background: #c30000;
			color: #fff;
			margin: 0 auto;
			width: 100%;
			padding: 14px 20px;
		}
	}
	.lukk {
		position: absolute;
		right: 5px;
		top: 5px;
		display: none;
		color: white;
		opacity: 0.5;
	}
	.suksess {
		.lukk {
			display: inline;
		}
		.kollapset {
			&:before {
				background: none repeat scroll 0 0 #a2ad00;
				border-radius: 50% 50% 50% 50%;
				padding: 5px 7px;
				color: white;
				content: '✔';
				font-weight: bold;
				text-align: center;
			}
		}
	}
}

/* TILBAKEMELDING stopp */
