[class*="sak-"] [class*="panel-"] {
	margin-right: 2%;
}

[class*="sak-"] [class*="panel-"]:last-child {
	margin-right: 0;
}

.sak-kvart [class*="panel-"] {
	width: 23%;
}

.sak-tredel [class*="panel-"] {
	width: 31.3333%;
}

.sak-halv [class*="panel-"] {
	width: 48%;
}

.sak-totredel [class*="panel-"] {
	width: 64.6666%;
}

.sak-trekvart [class*="panel-"] {
	width: 73%;
}

.sak-hel [class*="panel-"] {
	width: 100%;
}

.rad {
	padding: 30px;
}

.rad-logo {
	background: #fff url(../img/logo.png) no-repeat center;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	padding: 0 30px;
}

.rad-plakat {
	padding: 0 30px;
}

.rad-belyst {
	background-color: #fff;
	padding: 30px;
}

[class*="panel-"] {
	display: inline-block;
	&[class*="-belyst"] {
		background-color: #fff;
		padding: 1.5% 2% 3%;
		border: 1px solid #ddd;
	}
	&[class*="-dus"] {
		background-color: #ddd;
		padding: 1.5% 2% 3%;
		border: 1px solid #ddd;
	}
	&[class*="-klikk"] {
		background-color: #fff;
		padding: 1.5% 2% 3%;
		border: 1px solid #ddd;
		cursor: pointer;
		&:hover {
			background-color: #ddd;
		}
	}
	p {
		margin: 0;
		line-height: 1.4rem;
		&.ingress {
			margin: 1.2rem 0;
		}
	}
}

[class*="panel-mini"] {
	[class*="ikon-"] {
		margin-top: 4px;
	}
	[class*="robust"]:not([class*="ikon-"]) {
		margin-top: 14px;
	}
	.footer {
		position: absolute;
		height: 6rem;
		left: 0;
		right: 0;
		bottom: 0;
		[class*="knapp"] {
			margin-bottom: 1rem;
		}
	}
}

[class*="panel-standard"] {
	text-align: left;
}

.plakat {
	font-size: inherit;
	line-height: inherit;
	position: relative;
	box-sizing: border-box;
	border-radius: 0;
	height: 272px;
	border: 1px solid #ddd;
	background: url(../img/illustrasjonen.png) no-repeat;
	background-size: 1870px 270px;
	background-position: -425px 0;
	margin-bottom: 0;
	[class*="panel-mini"] {
		position: absolute;
		top: 25px;
		right: 100px;
		width: 280px;
		h1 {
			letter-spacing: 0;
		}
	}
}

.oppfordring {
	float: none;
	margin: 48px auto 50px;
	background: #b7b1a9;
	color: #fff;
	text-align: center;
	padding: 20px;
	h1 {
		font-size: 17px;
		text-transform: uppercase;
	}
}

