body {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    padding-top: 60px;
    color: #3e3832;
    background: #f1f1f1;
    line-height: 220%;
}
.diger {
    font-size: 2rem;
    font-weight: 600;
}
.info {
    font-size: 0.8rem;
    color: #808080;
}
.strek {
    background-image: url(under-dark.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
    text-align: center;
}
