.form-linje {
	padding: 5px 0.5rem;
	&.feil {
		input:not([type="submit"]), textarea {
			border: 1px solid #fca292;
			border-top: 1px solid @red;
		}

        input:not([type="submit"]) {
            background: @errorBackgroundLight;
        }

		.melding {
			color: @red;
			text-transform: none;
		}
	}
}

form, [ng-form], [data-ng-form] {
	margin: 0;
	text-align: left;
	label {
		font-size: 0.8rem !important;
		text-transform: uppercase;
		span {
			font-size: 0.8rem !important;
			text-transform: uppercase;
		}
	}
	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		height: 0;
		width: 0;
		opacity: 0;
	}

	input[type="radio"] + label {
		background: url(../img/radio.svg) 0 0 no-repeat;
	}

	input[type="radio"]:checked + label {
		background: url(../img/radio_valgt.svg) 0 0 no-repeat;
	}

	input[type="radio"]:disabled:checked + label {
		background: url(../img/radio_inactive_valgt.svg) 0 0 no-repeat;
	}

	input[type="radio"]:disabled + label {
		background: url(../img/radio_inactive.svg) 0 0 no-repeat;
	}

	input[type="checkbox"] + label {
		background: url(../img/check.svg) 0 0 no-repeat;
	}

	input[type="checkbox"]:disabled + label {
		background: url(../img/check_inactive.svg) 0 0 no-repeat;
	}

	input[type="checkbox"]:checked + label {
		background: url(../img/check_valgt.svg) 0 0 no-repeat;
	}

	input[type="checkbox"]:disabled:checked + label {
		background: url(../img/check_inactive_valgt.svg) 0 0 no-repeat;
	}

	input[type="radio"] + label,
	input[type="checkbox"] + label {
		display: inline-block;
		position: relative;
		padding: 2px 0 0 27px;
		height: 30px;
		margin-right: 1rem;
		font-family: @headingsFontFamily;
		font-size: 1rem !important;
        text-transform: none;
	}

	input[type="radio"]:checked + label,
	input[type="checkbox"]:checked + label {
		font-weight: bold;
	}

	.valggruppe {
		span {
			display: block;
			font-size: 0.8rem !important;
			text-transform: uppercase;
			margin-bottom: 0.5rem;
		}
		label {
			font-size: 1rem !important;
			text-transform: none;
		}
		.loddrett {
			label {
				display: block !important;
			}
		}
		.kolonner-to {
			.content-columns(2, 0.5rem);
			label {
				display: block !important;
			}
		}
		.kolonner-tre {
			.content-columns(3, 0.5rem);
			label {
				display: block !important;
			}
		}
	}

	&.horisontal {
		label {
			position: relative;
			padding: 1rem 0 0.5rem;
			input, select, textarea {
				margin-left: 1rem;
			}
			span {
				display: inline-block;
				font-size: 0.85rem;
				text-transform: uppercase;
				width: 11rem;
				&.melding {
					width: auto;
				}
			}
		}
	}

	&.vertikal {
		label {
			input, select, textarea {
				display: block;
				&[type="checkbox"], &[type="radio"] {
					display: inline-block;
				}
			}
		}
	}

	&.dobbeldato {
		display: inline-block;
		background: @bodyBackground;
		padding: 10px 20px 20px;
		border: 1px solid @borderColorLight;
		LABEL {
			padding: 0;
			width: 9rem;
			margin: 0 8px 0 0;
			INPUT {
				width: 100%;
			}
		}
	}
}

//
// Forms
// --------------------------------------------------

// GENERAL STYLES
// --------------

// Set font for forms
label,
input,
select,
textarea {
	#font > .shorthand(@baseFontSize,normal,@baseLineHeight); // Set size, weight, line-height here
}

input,
select,
textarea {
	font-family: @baseFontFamily; // And only set font-family here for those that need it (note the missing label element)
}

// Form controls
// -------------------------

// Shared size and type resets
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input.hasDatepicker {
	padding: 7px;
	line-height: 1.1rem;
	-webkit-border-radius: @inputBorderRadius;
	-moz-border-radius: @inputBorderRadius;
}

select,
input.hasDatepicker {
	border: 1px solid @inputBorder;
	border-top: 1px solid @grayLight;
}

select {
	padding: 7px;
	.border-radius(@inputBorderRadius);
}

// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	background-color: @inputBackground;
	border: 1px solid @inputBorder;
	border-top: 1px solid @grayLight;

	// Focus state
	&:focus {
		border-color: rgba(82, 168, 236, .8);
		outline: 0;
		outline: thin dotted        \9; /* IE6-9 */
	}

	// Position radios and checkboxes better
	input[type="radio"],
	input[type="checkbox"] {
		margin: 4px 0 0;
		margin-top: 1px        \9; /* IE8-9 */
		line-height: normal;
	}

	// Reset width of input images, buttons, radios, checkboxes
	input[type="file"],
	input[type="image"],
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	input[type="radio"],
	input[type="checkbox"] {
		width: auto; // Override of generic input selector
	}

	// Make select elements obey height by applying a border
	select {
		padding: 0;
		border: 1px solid @inputBorder;
		background-color: @inputBackground; // Chrome on Linux and Mobile Safari need background-color
	}

	// Focus for select, file, radio, and checkbox
	select:focus,
	input[type="file"]:focus,
	input[type="radio"]:focus,
	input[type="checkbox"]:focus {
		.tab-focus();
	}

	// Placeholder
	// -------------------------

	// Placeholder text gets special styles because when browsers invalidate entire lines if it doesn't understand a selector
	input,
	textarea {
		.placeholder();
	}

	// DISABLED STATE
	// --------------

	&:disabled {
		background-color: @inputDisabledBackground;
	}

	// Disabled and read-only inputs
	input[disabled],
	select[disabled],
	textarea[disabled],
	input[readonly],
	select[readonly],
	textarea[readonly] {
		cursor: not-allowed;
		background-color: @inputDisabledBackground;
	}
	// Explicitly reset the colors here
	input[type="radio"][disabled],
	input[type="checkbox"][disabled],
	input[type="radio"][readonly],
	input[type="checkbox"][readonly] {
		background-color: transparent;
	}
}
