@svg-root-url: "../META-INF/resources/img/ikoner-svg";

.ikon-utropstegn {
	background-image: data-uri('@{svg-root-url}/ikon-utropstegn.svg');
}

.ikon-suksess {
	background-image: data-uri('@{svg-root-url}/ikon-suksess.svg');
}

.ikon-radioknapp {
	background-image: data-uri('@{svg-root-url}/ikon-radioknapp.svg');
}

.ikon-checkbox {
	background-image: data-uri('@{svg-root-url}/ikon-checkbox.svg');
}