.ikon-utropstegn {
	background-image: data-uri('@{modig-frontend-images-root-url}/ikoner-svg/ikon-utropstegn.svg');
}

.ikon-suksess {
	background-image: data-uri('@{modig-frontend-images-root-url}/ikoner-svg/ikon-suksess.svg');
}

.ikon-checkbox {
	background-image: data-uri('@{modig-frontend-images-root-url}/ikoner-svg/ikon-checkbox.svg');
}

.ikon-checkbox-hoykontrast {
	background-image: data-uri('@{modig-frontend-images-root-url}/ikoner-svg/ikon-checkbox-hoykontrast.svg');
}

.ikon-vedlegg {
  background-image: data-uri('@{modig-frontend-images-root-url}/ikoner-svg/ikon-vedlegg.svg');
}

.ikon-soknad {
  background-image: data-uri('@{modig-frontend-images-root-url}/ikoner-svg/ikon-soknad.svg');
}

.ikon-epost {
  background-image: data-uri('@{modig-frontend-images-root-url}/ikoner-svg/ikon-epost.svg');
}
