@btn-background-color: @gray-icon;
@btn-text-color: @gray-text; 
@btn-shadow-color: @gray-inactive;
@btn-disabled-background-color: #ccc;

@btn-primary-background-color: @blue-link;
@btn-primary-active-color: @blue-active;
@btn-primary-text-color: @white; 
@btn-primary-shadow-color: @gray-text;
@btn-primary-disabled-background-color: @btn-disabled-background-color;

@btn-danger-background-color: @red-error;
@btn-danger-background-color-active: @red-error-active;
@btn-danger-text-color: @white; 
@btn-danger-shadow-color: @red-error-active;
@btn-danger-disabled-background-color: @btn-disabled-background-color;

@btn-row-border-color: @gray-icon;

.knapp {
	.mixin-knapp(); 
	border: none;
	color: @gray-text;
	background: @btn-background-color;
	border-bottom: 2px solid @btn-shadow-color;

	&:hover {
		border-bottom: 3px solid @btn-shadow-color;
		margin-bottom: -1px;
		.mixin-transform(translateY(-1px));
	}

	&:focus {
		.mixin-focus-outline(); 
		background-color: @btn-background-color;
	}	

	&:active {
		color: @white;
		background: @btn-shadow-color;
		border-bottom: none;
		margin-bottom: 2px; 
		.mixin-transform(translateY(3px));
	}

	&:disabled, &.er-inaktiv {
		background: @btn-disabled-background-color;
		border-bottom-color: @btn-disabled-background-color;
		color: @gray-inactive; 
		margin-top: 0; 
		margin-bottom: 0; 
		transform: none; 

		&:hover, &:active {
			transform: none;
			border-bottom: 2px solid @btn-disabled-background-color;
			color: @gray-inactive; 
			margin-top: 0; 
			margin-bottom: 0; 
			cursor: default;
		}
	}

	+ .knapp, + .lenke-alene {
		margin-left: 8px;
	}
}

.knapp-liten {
	font-size: @rem-as-14px;
	padding: 10px 20px 8px;
}

.knapp-stor {
	font-size: @rem-as-17px;
	padding: 12px 50px 10px;
	&:active {
		margin-bottom: 2px;
	}
}

.knapp-fare {
	.mixin-knappevariant(@btn-danger-background-color, @btn-danger-text-color, @btn-danger-shadow-color, @btn-danger-disabled-background-color, @btn-danger-background-color-active);
}

.knapp-hoved {
	.mixin-knappevariant(@btn-primary-background-color, @btn-primary-text-color, @btn-primary-shadow-color, @btn-primary-disabled-background-color, @btn-primary-active-color);
}
