@btn-background-color: #e0ded8;
@btn-text-color: @gray-text; 
@btn-shadow-color: #adacaa;
@btn-disabled-background-color: #b6b0a8;

@btn-primary-background-color: #0067c5;
@btn-primary-active-color: #005B82;
@btn-primary-text-color: #fff; 
@btn-primary-shadow-color: @gray-text;
@btn-primary-disabled-background-color: #b6b0a8;

@btn-danger-background-color: #BA3A26;
@btn-danger-background-color-active: #BA3A26;
@btn-danger-text-color: @white; 
@btn-danger-shadow-color: @gray-text;
@btn-danger-disabled-background-color: #860d0d;

@btn-row-border-color: @gray-icon;

.knapp {
	font-family: @font-family-profile;
	font-weight: 600;
	position: relative;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	border: none;
	color: @gray-text;
	border-radius: 2px;
	letter-spacing: 1px;
	padding: 10px 40px;
	background: @btn-background-color;
	border-bottom: 2px solid @btn-shadow-color;
	top: 0;
	margin-top: 0;
	font-size: @rem-as-16px; 

	&:hover {
		border-bottom: 3px solid @btn-shadow-color;
		margin-bottom: -1px;
		.mixin-transform(translateY(-1px));
	}

	&:focus {
		background-color: @btn-background-color;
	}	

	&:active {
		color: @btn-text-color;
		background: @btn-shadow-color;
		border-bottom: none;
		margin-bottom: 2px; 
		.mixin-transform(translateY(3px));
	}

	&:disabled, &.er-inaktiv {
		background: @btn-disabled-background-color;
		margin-top: 0; 
		margin-bottom: 0; 
		transform: none; 

		&:hover, &:active {
			transform: none;
			border-bottom: 2px solid @btn-shadow-color;
			margin-top: 0; 
			margin-bottom: 0; 
			cursor: default;
		}
	}

	+ .knapp, + .lenke-alene {
		margin-left: 8px;
	}
}

.knapp-liten {
	font-size: @rem-as-14px;
	padding: 9px 20px 7px;
}

.knapp-stor {
	font-size: @rem-as-17px;
	padding: 12px 50px 10px;
	&:active {
		margin-bottom: 2px;
	}
}

.knapp-fare {
	.mixin-knappevariant(@btn-danger-background-color, @btn-danger-text-color, @btn-danger-shadow-color, @btn-danger-disabled-background-color, @btn-danger-background-color-active);
}

.knapp-hoved {
	.mixin-knappevariant(@btn-primary-background-color, @btn-primary-text-color, @btn-primary-shadow-color, @btn-primary-disabled-background-color, @btn-primary-active-color);
}
