a {
	color: @color-link;
	text-decoration: none;

	&:active {
		color: @color-link-visited;
	}

	&:focus {
		background-color: @color-focus; 
		outline: none; 
	}
}

.lenke-fremhevet, .side-innhold a {
	border-bottom: 1px solid @color-link-underline;	
}

.lenke-ustilet, .side-innhold .lenke-ustilet {
	border-bottom: 0;  
}

.lenke-alene, .side-innhold a, .lenke-fremhevet {

	&:hover {
		border-bottom-color: @color-link;
	}

	&:active {
		border-bottom-color: @color-link-visited;
	}
}

.lenke-alternativ {
	margin-left: 2rem; 
}

.lenke-uthevet, a.lenke-uthevet {
	.mixin-knapp(); 
	background-color: transparent; 
	border: 2px solid @blue-link;
	padding: 8px 38px 10px 38px;
	color: @blue-link; 

	&:hover {
		text-decoration: underline; 
		border: 2px solid @blue-link;
	}

	&:focus {
		.mixin-focus-outline(3px);
	}

	&:active {
		border-color: @color-link-active;
		color: @color-link-active; 
	}
}

.lenke-legg-til:before {
	content: "+ ";
}

.contrast .lenke-uthevet, .contrast a.lenke-uthevet {
	color: @yellow; 
	border-color: @yellow; 

	&:active {
		color: @color-focus;
		border-color: @color-focus; 
	}
}