a {
	color: @color-link;
	border-bottom: 1px solid @color-link-underline;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid @color-link;
	}

	&:active {
		color: @color-link-visited;
		border-bottom: 1px solid @color-link-visited;
	}

	&:focus {
		background-color: @color-focus; 
		outline: none; 
	}
}

.lenke-alene {
	border-bottom: none;
	&:hover {
		border-bottom: 1px solid @color-link;
	}
}

.lenke-alternativ {
	margin-left: 2rem; 
}

.lenke-uthevet {
	.mixin-knapp(); 
	background-color: transparent; 
	border: 2px solid @blue-link;
	padding: 8px 38px 10px 38px;
	color: @blue-link; 

	&:hover {
		text-decoration: underline; 
		border: 2px solid @blue-link;
	}
}