//--------------------------------------------------------------------
//
//  Hode + Fot (felles for beta.nav.no og dekoratør / applikasjoner )
//
//--------------------------------------------------------------------

.sitelogo-small {
	img {
		max-width: 70%;
	}
}

.nav {
	margin: 0;
	list-style: none;
	a {
		display: block;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

// Hode (sort topplinje)
//--------------------------------------------------------------------

.siteheader {

	.dropdown {
		> a {
			outline-offset: -1px;
		}
	}
	.navbar {
		position: relative;
		li {
			display: inline-block;
		}

		.nav {
			padding: 0;
		}

		.dropdown-menu {
			> li {
				display: block;
				position: relative;
			}
		}
	}
	// navbar
}

// siteheader end

.global-siteheader-toolbar();

.global-siteheader-toolbar() when (@responsive = true) {
	.site-coltrols-toolbar {
		display: none;
		.settings .nav {
			margin-left: -1.5625em; // trekk "language" mer mot venstre når venstrestilt
		}
	}

	.sitelogo-large {
		display: none;
	}

	@media (min-width: (@screen-medium-plus-rem-as-one-px)) {

		.siteheader-toolbar-and-login-defaults();

		.sitelogo-large {
			display: block;
		}

		.sitelogo-small {
			display: none;
		}

	}

	@media (min-width: 60em) {

		// 960px --> samme media query på sentrering av hovedmenylinje
		.site-coltrols-toolbar {
			text-align: center;
			.settings .nav {
				margin-left: 0; // oversyr negativ margin på "language" (fra mindre flater)
			}
		}

		// Todo textsize tooltip
		.text-size-tooltip {
			right: -11rem;
			span.arrow {
				right: 48%;
			}
		}

	}
	// media 60em end

}

// mixin responsive true end

.global-siteheader-toolbar() when (@responsive = false) {
	// FOR IE8 og dekoratør!

	.siteheader-toolbar-and-login-defaults();

	.sitelogo-small {
		display: none;
	}

	.site-coltrols-toolbar {
		text-align: center;
	}
	#text-size-accessibility {
		display: inline-block;
	}

}

// mixin responsive false

.siteheader-toolbar-and-login-defaults() {

  // spesialknapp for høykontrast, språk, toggling av mobilmeny o.l (flat knapp, minner om en lenke)
  .link-btn {
    border: none;
    text-decoration: none;
    background: none;
    color: @blue-interaction;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.0); // transparent border
    &:focus {
      .mixin-focus-outline();
    }
  }


  .settings a,
  .settings .link-btn {
      font-size: @rem-as-12px;
      color: @white;
      padding: @rem-as-12px 22px;
      text-decoration: none;
      line-height: normal;
    }

	.site-controls-toolbar {
		display: block;
		background: @gray-text;
	
		.settings {
			display: inline-block;
			width: 50%;
		}


	}

	.text-size-tooltip, .login-tooltip, .logout-tooltip {
		padding: 16px 24px;
		position: absolute;
		background-color: @black;
		color: @white;
		z-index: 9;
		text-align: left;
		span.arrow {
			.up-arrow(9px, 6px, 6px, #000000); // mixin
			position: absolute;
			top: -8px;
		}
	}

	.text-size-tooltip {
		width: 30rem;
		top: 2.5rem;
		//right:-11em;
		span.arrow {
			right: 85%; // mobile first. Endres på min-width.
		}
		p {
			font-size: @rem-as-30px;
			font-weight: bold;
			margin: 0;
		}
	}

	#text-size-accessibility {
		position: relative;
	}



}

// mixin siteheader-toolbar-and-login-defaults end

.sitelogo {
	text-align: center;
	padding: 15px 0 18px;
	background-color: @white;
	border-bottom: 1px solid @gray-icon;
	a {
		text-decoration: none;
		display: inline-block;
	}
}


// Dropdown - fra collapse-bootstrap-dropdown.less
//-------------------

.dropup,
.dropdown {
	position: relative;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
	outline: 0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid @white;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}

.dropdown .caret {
	margin-top: 0.375rem;
	margin-left: 0.25rem;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: block;
	float: left;
	text-align: left;
	width: 100%;
	padding: 5px 0;
	margin: 0;
	list-style: none;
	background-color: @gray-inactive;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: @gray-inactive;
	border-bottom: 1px solid @black;
}

.dropdown-menu > li > a {
	display: block;
	padding: 0.25em 0 0.25em 27px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: @white;
	white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	text-decoration: none;
	color: @blue-interaction;
}

.dropdown-menu > li.active {
	> a {
		color: @blue-interaction;
		&:after {
			.bullet-point(2px, @blue-interaction, 13%, 40%); // mixin
			text-decoration: none;
			outline: 0;
		}
	}
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	color: @gray-inactive;
}

.open > .dropdown-menu {
	display: block;
}

.dropdown-submenu {
	position: relative;
}


.submenu-logg-inn {
  text-align: center;
  margin-top: 10rem;
  font-size: .875rem;
 .decorated {
   margin-bottom: 1rem;
 }
}

a.locked {
  background: url('@{baseImagePath}img/navno/gfx/icons/ikon_las_svart.png') no-repeat 1% 50%;
  background-size: 0.9rem;
  &:hover {
	&:before {
	  border: none;
	}
  }
  &:focus {
    background: transparent url('@{baseImagePath}img/navno/gfx/icons/ikon_las_svart.png') no-repeat 1% 50%;
	&:before {
	  border: none;
	}
  }
}

.secLevelUpgradeInfo {
  margin-top: 2rem;
  text-align: center;
  span {
    background: transparent url('@{baseImagePath}img/navno/gfx/icons/ikon_las_svart.png') no-repeat;
    padding-left: 1.7rem;
    background-size: 1.1rem;
    background-position: 0% 48%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-right: 0.5rem
  }

  .logginninfo {
	display: inline-block;
	background: transparent url('@{baseImagePath}img/navno/gfx/icons/sporsmaalstegn.png') no-repeat;
	width: 24px;
	height: 24px;
	background-size: 1.3rem;
	vertical-align: middle;
	&:hover {
	  background: transparent url('@{baseImagePath}img/navno/gfx/icons/sporsmaalstegn_hover.png') no-repeat;
	  background-size: 1.3rem;
	}
  }



  .panel-negativ {
    &:before {
      content: "";
      border: solid transparent;
      border-width: 10px;
      position: absolute;
      height: 0;
      width: 0;
      left: 20px;
      border-top-color: @gray-text;
      top: 100%
    }
    position: absolute;
    z-index: 9;
    left: 74.5%;
    width: 350px;
    top: 55%;
    padding: 10px;
    color: @color-gray-light-additional;
	.lukk {
	  margin-bottom: 2rem;
	  button {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 32px;
        height: 32px;
        border: 0;
		background:transparent url('@{baseImagePath}img/navno/gfx/icons/kryss_blaa.png') no-repeat;
		&:hover {
		  background:transparent url('@{baseImagePath}img/navno/gfx/icons/kryss_blaa_hover.png') no-repeat;
		}
	  }
	}
  }
}

.tilbaketilgruppe {
  padding: 2px 0 2px 0px;
  position: relative;
  font-size: @rem-as-14px;

  .tilbaketittel {
	color: black;
	position: absolute;
	bottom: 21px;
	margin-left: 8px;
  }

  .home-link {
	text-decoration: none;
	display: inline-block;
	color: @blue-link;

	.tilbaketilforsidelink {
	  border-bottom: 1px solid @gray-inactive;
	  position: absolute;
	  margin-left: 8px;
	}
	&:before {
	  display: inline-block;
	  content: "";
	  width: 46px;
	  height: 60px;
	  background: transparent url('@{baseImagePath}img/navno/gfx/mainmenu/hjem_sort.png') no-repeat;
	  background-position: 66% 20%;
	  background-size: 55%;
	}
	&.dittnav {
	  &:before {
		display: inline-block;
		content: "";
		width: 46px;
		height: 60px;
		background: transparent url('@{baseImagePath}img/navno/gfx/icons/person_graa.png') no-repeat;
		background-position: 0% 0%;
		background-size: 90%;
	  }
	  &:hover {
		&:before {
		  background: transparent url('@{baseImagePath}img/navno/gfx/icons/person_blaa.png') no-repeat;
		}
		.tilbaketilforsidelink {
		  border-bottom: 1px solid @blue-link;
		}
	  }
	  &:active {
		outline: none;
		&:before {
		  background: transparent url('@{baseImagePath}img/navno/gfx/icons/person_svart.png') no-repeat;
		}
	  }
	}

	&:hover {
	  &:before {
		display: inline-block;
		content: "";
		width: 46px;
		height: 60px;
		background: transparent url('@{baseImagePath}img/navno/gfx/mainmenu/hjem_blaa.png') no-repeat;
		background-position: 66% 20%;
		background-size: 55%;
	  }
	  .tilbaketilforsidelink {
		border-bottom: 1px solid @blue-link;
	  }
	}
	&:active, &:focus {
	  outline: none;
	  background-color: transparent;
	  .tilbaketilforsidelink{
		border-bottom: 1px solid @blue-link;
		background-color: @orange-focus;
		box-shadow: 0 0 0 3px @orange-focus;
	  }
	}
  }
}