@modig-frontend-images-root-url: "../../img";
.varselikon-mixin(@type: "", @ikon, @farge) {
  @classname: ~'@{type}';
  &@{classname} {
    background: @farge url("@{modig-frontend-images-root-url}/varsel/@{ikon}.svg") no-repeat center;
  }
}
.nav-varsler {
  .varsel {
    display: flex;
    padding: 4px;

    .varsel-ikon {
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      margin-right: 8px;
      .varselikon-mixin("", "alarm", #ffe4c2);
      .varselikon-mixin(".boble", "bubblechat-2", #f3cdcd);
      .varselikon-mixin(".kalender", "calendar-3", #e0f5fb);
      .varselikon-mixin(".dokument", "dokument_normal", #e6e1ea);
    }
    .varsel-innhold {
      overflow-wrap: break-word;
      color: @gray-text;

      .varsel-dato {
        color: @gray-inactive;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .varsel-container {
    &:not(:last-child) {
      border-bottom: 1px solid @gray-inactive;
      padding-bottom: 12px;
      margin-bottom: 12px;
    }
  }
  .fiks-line-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}